<template name="administracionUsuario">

    <!-- Nuevo formulario de ingreso -->

    <div id=search-section class="col s12 white">
        <div id="seccion-tabs" class="row center">
            <div class="col s12">
                <img id="logo-inicial" src="\imagenes\Logo.png" class="brand-logo"> 
                <!-- 
                <img id="logo-inicial" src="\imagenes\Logo-prime.png" class="brand-logo">
                -->
            </div>
        </div>
    </div>

    <form class="formAdministracionUsuario">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Ingresa a FormAustral</p>
                        <!--
                        <p id="texto-search" class=""> Ingresa a DemoCursos</p>
                        -->
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'username'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="usuario" id="usuario" type="text" value="" placeholder="Nombre de Usuario o Email" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'username'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'password'}}">
                                <div id="input-field" class="input-field col s12">
                                        <input name="contraseña" id="contraseña" type="password" value="" placeholder="Contraseña" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>
                            <a href="{{pathFor 'cambiarPassword'}}" class="right"><p>He olvidado mi contraseña</p></a>
                        </div>

                        <button type="submit" id="ingreso" class="waves-effect waves-light btn-large beigeFormAustral">Ingresar</button>
                        <p><b>v1.28</b></p>
                        <!--
                        <button type="submit" id="ingreso" class="waves-effect waves-light btn-large blue darken-3">Ingresar</button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>