<template name="cambiarPassword">
    <form class="formCambiarPassword">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Restablecer mi contraseña</p>
                        <!--
                        <p id="texto-search" class=""> Ingresa a DemoCursos</p>
                        -->
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div class="col s12">
                                <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <p>Ingresa tu correo electrónico para que te enviemos la reactivación de tu cuenta.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'email'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="email" id="email" type="text" value="" placeholder="Correo electrónico" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'email'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" id="ingreso" class="waves-effect waves-light btn-large calipsoFormAustral">Enviar</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</template>