<template name="cambiarProfesor">
    <form class="formCrearProfesor">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-inscripcion" class="container">
                        <p id="texto-search" class=""> Asignar un nuevo profesor al curso
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <!-- Dropdownlist rut usuario -->
                            <div class="form-group {{claseError 'userId'}}">
                                <label>Profesor</label>
                                <select id="seleccion-profesor" class="browser-default">
                                    <option value="" selected>Selecciona un profesor</option>
                                    {{#each users}}
                                        <option value="{{username}}">{{username}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'userId'}}</span>
                            </div>
                            
                            <div class="row">
                                <button type="submit" value="Crear" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-ok"></span> Asignar</button>
                            </div>

                        
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>
</template>