<template name="editarUsuario">
    <form class="formEditarUsuario">
        <div class="row">
            <div id="form" class="form white formEditarUsuario">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Editar Usuario: <b>{{username}}</b></p>
                        <!--
                        <p id="texto-search" class=""> Ingresa a DemoCursos</p>
                        -->
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'username'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Nombre de Usuario</label>
                                    <input name="usuario" id="usuario" type="text" value="{{username}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'username'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'fullname'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Nombre completo</label>
                                    <input name="nombre" id="nombre" type="text" value="{{profile.fullname}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'fullname'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'email'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Correo electrónico</label>
                                    <input name="email" id="email" type="email" value="{{emails.[0].address}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'email'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'rut'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Rut</label>
                                    <input name="rut" id="rut" type="text" value="{{profile.rut}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'rut'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'nacionalidad'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Nacionaildad</label>
                                    <input name="nacionalidad" id="nacionalidad" type="text" value="{{profile.nacionalidad}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nacionalidad'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'direccion'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Dirección</label>
                                    <input name="direccion" id="direccion" type="text" value="{{profile.direccion}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'direccion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'telefono'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Teléfono</label>
                                    <input name="telefono" id="telefono" type="text" value="{{profile.telefono}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'telefono'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'escolaridad'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Escolaridad</label>
                                    <input name="escolaridad" id="escolaridad" type="text" value="{{profile.escolaridad}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'escolaridad'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'fechaNacimiento'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Fecha de nacimiento</label>
                                    <input name="date" id="date" type="date" value="{{profile.fechaNacimiento}}" placeholder="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'fechaNacimiento'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'ocupacion'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Ocupación</label>
                                    <input name="ocupacion" id="ocupacion" type="text" value="{{profile.ocupacion}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'ocupacion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'cargo'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Cargo</label>
                                    <input name="cargo" id="cargo" type="text" value="{{profile.cargo}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'cargo'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'empresa'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Empresa</label>
                                    <input name="empresa" id="empresa" type="text" value="{{profile.empresa}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'empresa'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Contraseña</label>
                                    <input name="contraseña" id="contraseña" type="password" value="{{password}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Repita Contraseña</label>
                                    <input name="verificacion" id="verificacion" type="password" value="{{password}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" id="ingreso" class="waves-effect waves-light btn-large calipsoFormAustral">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>