<template name="inscribirUsuario">
    <form class="formCrearProfesor">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-inscripcion" class="container">
                        <p id="texto-search" class=""> Inscripción de Usuario
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <!-- Dropdownlist curso -->
                            <div class="form-group {{claseError 'cursoId'}}">
                                <label>Curso</label>
                                <select id="seleccion-curso" class="browser-default">
                                    <option value="" selected>Selecciona un curso</option>
                                    {{#each cursos}}
                                        <option value="{{nombreCurso}}">{{nombreCurso}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'cursoId'}}</span>
                            </div>

                            <!-- Dropdownlist rut usuario -->
                            <div class="form-group {{claseError 'usuarioId'}}">
                                <label>Usuario</label>
                                <select id="seleccion-usuario" class="browser-default">
                                    <option value="" selected>Selecciona un usuario</option>
                                    {{#each users}}
                                        <option value="{{username}}">{{username}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'usuarioId'}}</span>
                            </div>
                            
                            <div class="row">
                                <button type="submit" value="Crear" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-ok"></span> Inscribir</button>
                            </div>
                        
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div id="contenedor-inscripcion" class="container">
                        <p id="texto-search" class=""> Usuarios Inscritos
                        </p>
                
                        <div class="divider"></div>

                        <div id="contenedor-listado" class="container center">
                            
                            <table id="tablaInscripcion" class="responsive-table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>C.I.</th>
                                        <th>Cargo</th>
                                        <th>Telefono</th>
                                        <th>Curso Inscrito</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                
                                <tbody>

                                    {{#each inscritos}}
                                    <tr>
                                        <td>{{username}}</td>
                                        <td>
                                            {{#each correo}}
                                                {{nombreCorreo}}<br>
                                            {{/each}}
                                        </td>
                                        <td>{{rut}}</td>
                                        <td>{{cargo}}</td>
                                        <td>{{telefonoUsuario}}</td>
                                        <td>{{nombreCursoInscrito}}</td>
                                        <td>{{fecha}}</td>
                                    </tr>
                                    {{/each}}
                                      
                                </tbody>
                            </table>

                            <button id="exportar" class="waves-effect waves-light btn-large right calipsoFormAustral" onclick="exportTableToExcel('tablaInscripcion')">Exportar a Excel</button>
                                
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>

    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>

    <script>
        function exportTableToExcel(tableID, filename = ''){
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
            
            // Create download link element
            downloadLink = document.createElement("a");
            
            document.body.appendChild(downloadLink);
            
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            
                // Setting the file name
                downloadLink.download = filename;
                
                //triggering the function
                downloadLink.click();
            }
        }
    </script>

</template>