<template name="nuevoUsuario">

    <!-- Sección descripción -->
    <div id=titulo-tabs class="col s12 white">
        <div id="seccion-tabs" class="row center">

            <div id="" class="container">
                <h2 id="label-search" class="label_style" tabindex="15">Cuentas de Usuario</h2>
                <!--<p id="texto-descripcion" class="" tabindex="16"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur augue lectus, porttitor non elit ac, porta hendrerit leo. Ut quam.</p>-->
            </div>

            <div class="container">
                <ul class="tabs tabs-fixed-width tab-demo">
                    <li class="tab center"><a class="active" href="#crear">Crear Usuario</a></li>
                    <li class="tab center"><a class="active" href="#ver">Usuarios Creados</a></li>
                    <li class="tab center"><a class="active" href="#avance">Porcentaje Avance</a></li>
                    <li class="tab center"><a class="active" href="#todo">Tabla Maestra</a></li>
                </ul>
            </div>
            
            <!--<h2 id="label-search" class="label_style" tabindex="15">Descripción del Servicio</h2>-->

        </div>
    </div>

    <div id="crear" class="col s12">
    <!-- Nuevo formulario de creacion de usuario -->
    <form class="formCrearUsuario">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de cuenta de Usuario
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'username'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Nombre de Usuario</label>
                                    <input name="usuario" id="usuario" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'username'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'fullname'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Nombre completo</label>
                                    <input name="nombre" id="nombre" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'fullname'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'email'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Correo electrónico</label>
                                    <input name="email" id="email" type="email" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'email'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'rut'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Rut</label>
                                    <input name="rut" id="rut" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'rut'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'nacionalidad'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Nacionaildad</label>
                                    <input name="nacionalidad" id="nacionalidad" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nacionalidad'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'direccion'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Dirección</label>
                                    <input name="direccion" id="direccion" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'direccion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'telefono'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Teléfono</label>
                                    <input name="telefono" id="telefono" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'telefono'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'escolaridad'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Escolaridad</label>
                                    <input name="escolaridad" id="escolaridad" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'escolaridad'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'fechaNacimiento'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Fecha de nacimiento</label>
                                    <input name="date" id="date" type="date" value="" placeholder=" " class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'fechaNacimiento'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'ocupacion'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Ocupación</label>
                                    <input name="ocupacion" id="ocupacion" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'ocupacion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'cargo'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Cargo</label>
                                    <input name="cargo" id="cargo" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'cargo'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'empresa'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Empresa</label>
                                    <input name="empresa" id="empresa" type="text" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'empresa'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'password'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Contraseña</label>
                                    <input name="contraseña" id="contraseña" type="password" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row {{claseError 'password'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Repita su contraseña</label>
                                    <input name="verificacion" id="verificacion" type="password" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" id="registro" class="waves-effect waves-light btn-large calipsoFormAustral">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 
    </div>

    <div id="ver" class="col s12">
        <div class="row">
            <div id="contenedor-inscripcion" class="container">
                <p id="texto-search" class="">Usuarios creados
                </p>
        
                <div class="divider"></div>

                <div id="contenedor-listado-usuarios" class="container center">
                    
                    <table id="tablaUsuarios" class="responsive-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rut</th>
                                <th>Cargo</th>
                                <th>Empresa</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {{#each usuarios}}
                            <tr>
                                <td>{{nombreUsuario2}}</td>
                                <td>
                                    {{#each correo}}
                                        {{nombreCorreo}}<br>
                                    {{/each}}
                                </td>
                                <td>{{rut2}}</td>
                                <td>{{cargo}}</td>
                                <td>{{empresa}}</td>
                                <td>{{telefono}}</td>
                                <td><a href="{{pathFor 'editarUsuario'}}">Editar</a></td>
                            </tr>
                            {{/each}}
                                    
                        </tbody>
                    </table>

                    <button id="exportar" class="waves-effect waves-light btn-large right calipsoFormAustral" onclick="exportTableToExcel('tablaUsuarios')">Exportar a Excel</button>
                            
                </div>

            </div>
        </div>
    </div>

    <div id="avance" class="col s12">
        <div class="row">
            <div id="contenedor-inscripcion" class="container">
                <p id="texto-search" class="">Porcentaje de avance
                </p>
        
                <div class="divider"></div>

                <div id="contenedor-listado-usuarios" class="container center">
                    
                    <!--  
                    {{#each usuarios}}
                    <table id="tabla1" class="responsive-table">
                        
                            <thead>
                                <tr>
                                    <th>Nombre Completo</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Rut</th>
                                </tr>
                            </thead>

                        <tbody>
                            <tr>
                                <td>{{nombreUsuario}}</td>
                                <td>{{usuario}}</td>
                                <td>{{rut}}</td>
                            </tr>
                        </tbody>

                    </table>
                    
                    <table id="tabla2" class="responsive-table">
                        <thead>
                            <tr>
                                <th>Curso</th>
                                <th>Porcentaje Avance</th>
                                <th>Tiempo</th>
                            </tr>
                        </thead>
                        
                        {{#each cursos}}
                        <tbody>
                            <tr>
                                <td>{{nombreCurso}}</td>
                                <td>{{avance}}%</td>
                                <td>{{tiempo}}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>

                    {{/each}}
                    -->

                    <table id="tablaPrueba" class="responsive-table">
                            <thead>
                                    <tr>
                                        <th>Nombre Completo</th>
                                        <th>Nombre de Usuario</th>
                                        <th>Rut</th>
                                        <th>Curso</th>
                                        <th>Avance</th>
                                        <th>Tiempo</th>
                                    </tr>
                                </thead>
                        {{#each usuarios}}
                            

                        <tbody>
                            
                        {{#each cursos}}
                            <tr>
                                <td>{{nombreUsuario}}</td>
                                <td>{{usuario}}</td>
                                <td>{{rut}}</td>
                                <td>{{nombreCurso}}</td>
                                <td>{{avance}}%</td>
                                <td>{{tiempo}}</td>
                            </tr>
                        {{/each}}
                        </tbody>

                        {{/each}}
                    </table>

                    <button id="exportar" class="waves-effect waves-light btn-large right calipsoFormAustral" onclick="exportTableToExcel('tablaPrueba')">Exportar a Excel</button>
                            
                </div>

            </div>
        </div>
    </div>

    <div id="todo" class="col s12">
        <div class="row">
            <div id="contenedor-tabla-maestra" class="container">
                <p id="texto-search" class="">Tabla Maestra
                </p>
        
                <div class="divider"></div>

                <div id="contenedor-listado-usuarios" class="center">

                <table id="tablaMaestra" class="responsive-table">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Nombre de Usuario</th>
                            <th>Correo</th>
                            <th>Rut</th>
                            <th>Cargo</th>
                            <th>Empresa</th>
                            <th>Telefono</th>
                            <th>Curso</th>
                            <th>Fecha Inscripción</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Término</th>
                            <th>Avance</th>
                            <th>Tiempo</th>
                        </tr>
                    </thead>

                    {{#each usuarios}}

                    <tbody>
                        
                    {{#each cursos}}
                        <tr>
                            <td>{{nombreUsuario}}</td>
                            <td>{{usuario}}</td>
                            <td>
                                {{#each correosUsuario}}
                                    {{nombreCorreo}}<br>
                                {{/each}}
                            </td>
                            <td>{{rut}}</td>
                            <td>{{cargoUsuario}}</td>
                            <td>{{empresaUsuario}}</td>
                            <td>{{telefonoUsuario}}</td>
                            <td>{{nombreCurso}}</td>
                            <td>{{fecha}}</td>
                            <td>{{fechaInicio}}</td>
                            <td>{{fechaTermino}}</td>
                            <td>{{avance}}%</td>
                            <td>{{tiempo}}</td>
                        </tr>
                    {{/each}}
                    </tbody>

                    {{/each}}
                </table>
                
                <button id="exportar" class="waves-effect waves-light btn-large right calipsoFormAustral" onclick="exportTableToExcel('tablaMaestra')">Exportar a Excel</button>
                
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>

    <script>
        function exportTableToExcel(tableID, filename = ''){
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
            
            // Create download link element
            downloadLink = document.createElement("a");
            
            document.body.appendChild(downloadLink);
            
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            
                // Setting the file name
                downloadLink.download = filename;
                
                //triggering the function
                downloadLink.click();
            }
        }
    </script>
    

</template>