<template name="paginaConfiguracion">
    <form class="formPaginaConfiguracion">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Editar variables globales
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Datos:
                                    <div class="input-field inline">
                                        <input id="datos" type="text" class="validate">
                                        <label for="datos">Datos</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Descripción:
                                    <div class="input-field inline">
                                        <input id="descripcion" type="text" class="validate">
                                        <label for="descripcion">Descripción</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Objetivo:
                                    <div class="input-field inline">
                                        <input id="objetivo" type="text" class="validate">
                                        <label for="objetivo">Objetivo</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Curso:
                                    <div class="input-field inline">
                                        <input id="curso" type="text" class="validate">
                                        <label for="curso">Curso</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Módulo:
                                    <div class="input-field inline">
                                        <input id="modulo" type="text" class="validate">
                                        <label for="modulo">Módulo</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Contenido:
                                    <div class="input-field inline">
                                        <input id="contenido" type="text" class="validate">
                                        <label for="contenido">Contenido</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Categoría:
                                    <div class="input-field inline">
                                        <input id="categoria" type="text" class="validate">
                                        <label for="categoria">Categoría</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Usuario:
                                    <div class="input-field inline">
                                        <input id="usuario" type="text" class="validate">
                                        <label for="usuario">Usuario</label>
                                    </div>
                                </div>  
                            </div>

                            <div id="row-input" class="row">
                                <div class="col s12">
                                    Profesor:
                                    <div class="input-field inline">
                                        <input id="profesor" type="text" class="validate">
                                        <label for="profesor">Profesor</label>
                                    </div>
                                </div>  
                            </div>

                            <div class="row">
                                <button type="submit" value="Crear" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-ok"></span> Editar</button>
                            </div>
                        </div>
                        

                    </div>
                </div>

            </div>
        </div>
    </form>

</template>