<template name="perfilUsuario">
    <div class="perfilUsuario">
    <h3>Perfil de Usuario</h3>
    <br/>
        <!-- Preguntamos si es profesor -->
        <!-- Si lo es mostramos sus cursos creados, terminados y finalizados -->
        {{#if currentUser.profile.esProfesor}}
        
        <!-- Cursos publicados -->
        <div class="headerCurso">
            <strong>Cursos Publicados</strong>
        </div>
        
        <div class="contenedor">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                </tr>
            {{#each cursosPublicados}}
                <tr>
                    <th>
                    <a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                    </a>
                    </th>
                    <th>{{nombreArea}}</th>
                </tr>
            {{/each}}
            </table>
        </div>
        
        <!-- Cursos en espera -->
        <div class="headerCurso">
            <strong>Cursos en espera de Confirmación</strong>
        </div>
        
        <div class="contenedor">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                </tr>
            {{#each cursosFinalizados}}
                <tr>
                    <th>
                    <a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                    </a>
                    </th>
                    <th>{{nombreArea}}</th>
                </tr>
            {{/each}}
            </table>
        </div>
        
        <!-- Cursos sin publicar -->
        <div class="headerCurso">
            <strong>Cursos no publicados</strong>
        </div>
        
        <div class="contenedor">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                </tr>
            {{#each cursosPendientes}}
                <tr>
                    <th>
                    <a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                    </a>
                    </th>
                    <th>{{nombreArea}}</th>
                </tr>
            {{/each}}
            </table>
        </div>
        
        
        {{else}}
        <!-- Si es un usuario, se muestran sus progresos en los cursos -->
        <div class="headerCurso">
            <strong>Cursos Aprobados</strong>
        </div>
        
        <div class="contenedor">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Área</th>
                    <th>Nota</th>
                </tr>
            {{#each cursosAprobados}}
                <tr>
                    <th>{{nombreCursosAprobados}}</th>
                    <th>{{nombreAreaCursos}}</th>
                    <th>{{notaObtenida}}</th>
                </tr>
            {{/each}}
            </table>
        </div>
        
        <div class="headerCurso">
            <strong>Cursos en desarrollo</strong>
        </div>
        
        <div class="contenedor">
            
            {{#each cursosEnDesarrollo}}
                <div class="curso">
                    {{nombreCurso}}
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{porcentajeDesarrollo}}" aria-valuemin="0"
                        aria-valuemax="100" style="min-width: 2em; width: {{porcentajeDesarrollo}}%;" >
                            {{porcentajeDesarrollo}}%
                        </div>
                    </div>
                    
                    <div class="boton">
                        <a href="{{pathFor 'paginaCurso'}}" class="btn btn-default">
                            Retomar
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    
        <hr/>
        
        <div class="headerCurso">
            <strong>Metas Finalizadas</strong>
        </div>
        
        <div class="contenedor">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Nota Promedio</th>
                </tr>
            {{#each metasFinalizadas}}
                <tr>
                    <th>{{nombreMetas}}</th>
                    <th>{{notaObtenidaMeta}}</th>
                </tr>
            {{/each}}
            </table>
        </div>
        
        <div class="headerCurso">
            <strong>Metas en desarrollo</strong>
        </div>
        
        <div class="contenedor">
            
            {{#each metasEnDesarrollo}}
                <div class="curso">
                    {{nombreMeta}}
                    <br/>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{porcentajeDesarrolloMeta}}" aria-valuemin="0"
                        aria-valuemax="100" style="min-width: 2em; width: {{porcentajeDesarrolloMeta}}%;">
                        </div>
                    </div>
                    
                    <!--
                    <div class="boton">
                        <a href="{{pathFor 'paginaCurso'}}" class="btn btn-default">
                            Retomar
                        </a>
                    </div>
                    -->
                </div>
            {{/each}}
        </div>
        
        {{/if}}
    </div>
</template>