<template name="verificarPassword">
        <form class="formCambiarPassword">
            <div class="row">
                <div id="form" class="form white formCrearProfesor">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Ingresa tu nueva contraseña</p>
                            <!--
                            <p id="texto-search" class=""> Ingresa a DemoCursos</p>
                            -->
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <div id="row-input" class="row {{claseError 'newPassword'}}">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="contraseña" id="contraseña" type="password" value="" placeholder="Nueva contraseña" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'newPassword'}}</span>
                                    </div>
                                </div>

                                <div id="row-input" class="row {{claseError 'verificacion'}}">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="verificacion" id="verificacion" type="password" value="" placeholder="Reingresa tu contraseña" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'verificacion'}}</span>
                                    </div>
                                </div>
    
                            </div>

                            <button type="submit" id="ingreso" class="waves-effect waves-light btn-large calipsoFormAustral">Aceptar</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </template>