<template name="crearModuloDesdeCurso">
    
    <!-- Nuevo formulario de módulo -->

    <form class="formCrearModulo">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de Módulo {{nombreCurso}}
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreModulo'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="modulo" id="modulo" type="text" value="" placeholder="Nombre del Módulo" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreModulo'}}</span>
                                </div>
                            </div>

                            <!-- Dropdownlist módulo -->
                            <div class="form-group {{claseError 'moduloId'}}">
                                <label>Prerrequisito</label>
                                <select id="seleccion-modulo" class="browser-default">
                                    <option value="" selected>Selecciona un módulo prerrequisito</option>
                                    {{#each modulos}}
                                        <option value="{{nombreCurso}}">{{nombreModulo}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'moduloId'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Introducción Módulo</p>
                                    <textArea name="introduccion" id="introduccion" value="" rows="10" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'introduccionModulo'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" value="Crear" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-ok"></span> Crear</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    
 </template>