<template name="crearModulo">
   
   <!-- Nuevo formulario de módulo -->

    <form class="formCrearModulo">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de Módulo
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreModulo'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="modulo" id="modulo" type="text" value="" placeholder="Nombre del Módulo" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreModulo'}}</span>
                                </div>
                            </div>

                            <!-- Dropdownlist curso -->
                            <div class="form-group {{claseError 'cursoId'}}">
                                <label>Curso</label>
                                <select id="seleccion-curso" class="browser-default">
                                    <option value="" selected>Selecciona un curso</option>
                                    {{#each cursos}}
                                        <option value="{{nombreCurso}}">{{nombreCurso}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'cursoId'}}</span>
                            </div>

                            <!-- Dropdownlist módulo 
                            <div class="form-group {{claseError 'moduloId'}}">
                                <label>Prerrequisito</label>
                                <select id="seleccion-modulo" class="browser-default">
                                    <option value="" selected>Selecciona un módulo prerrequisito</option>
                                    {{#each modulos}}
                                        <option value="{{nombreCurso}}">{{nombreModulo}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'moduloId'}}</span>
                            </div>-->

                        </div>
                            
                            <button type="submit" value="Crear" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Crear</button>
                    </div>
                </div>
            </div>
        </div>

    </form>



   <!--       Fin       

   
    <form class="formCrearModulo">
        <h3>Creación de Módulos</h3>
        <br/>
        <div class="form-group {{claseError 'nombreModulo'}}">
            <label class="control-label">Nombre</label>
            <input name="modulo" id="modulo" type="text" value="" placeholder="Nombre del Módulo" class="form-control">
            <span class="bloque-ayuda">{{mensajeError 'nombreModulo'}}</span>
        </div>
        
        <div class="form-group {{claseError 'cursoId'}}">
            <label class="control-label">Curso</label>
            <select id="seleccion-curso" class="form-control">
            <option selected="selected" value="">Selecciona un curso</option> 
                {{#each cursos}}
                    <option value="{{nombreCurso}}">{{nombreCurso}}</option>
                {{/each}}
            </select>
            <span class="bloque-ayuda">{{mensajeError 'cursoId'}}</span>
        </div>

        <button type="submit" value="Crear" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Crear</button>
        
    </form>-->
 </template>


