<template name="definirPruebaModulo">
    <form class="formPruebaModulo">
        <div class="row">
            <div id="form" class="form white formAgregarPregunta">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-titulo-definir" class=""> Definir parámetros de Prueba
                        </p>
                        <p id="texto-bajada" class=""><b>módulo: </b>{{nombreModulo}}
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test1" />
                                            <label for="test1"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt1" id="alt1" for="test1">Permitir preguntas de alternativas</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test2" />
                                            <label for="test2"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt2" id="alt2" for="test2">Permitir preguntas de verdadero y falso</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12">
                                    Cantidad de preguntas:
                                    <div class="input-field inline">
                                        <input id="cantidad-preguntas" placeholder="10" type="number" min="1" max="{{cantidad}}" class="validate">
                                    </div>
                                    de un total de: {{cantidad}}
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12">
                                    <div class="input-field">
                                        <p>Ingresa la duración de la prueba (en minutos)</p>
                                        <input id="duracion" placeholder="ej: 60" type="number" min="1" class="validate">
                                    </div>
                                </div>
                            </div>

                            <!-- Fin -->
                        </div>
                        <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                            Definir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>