<template name="edicionModulo">

    <!-- Nuevo formulario de edición módulo -->

    <form class="formEdicionModulo">
            <div class="row">
                <div id="form" class="form white formCrearModulo">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Edición de Módulo {{nombreCurso}}
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <div id="row-input" class="row {{claseError 'nombreModulo'}}">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="modulo" id="modulo" type="text" value="{{nombreModulo}}" placeholder="Nombre del Módulo" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'nombreModulo'}}</span>
                                    </div>
                                </div>
    
                                <!-- Dropdownlist módulo -->
                                <div class="form-group {{claseError 'moduloId'}}">
                                    <label>Prerrequisito</label>
                                    <select id="seleccion-modulo" class="browser-default">
                                        <option value="" selected>{{requisitoModulo}}</option>
                                        {{#each modulos}}
                                            <option value="{{nombreCurso}}">{{nombreModulo}}</option>
                                        {{/each}}
                                    </select>
                                </div>
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <p>Introducción Módulo</p>
                                        <textArea name="introduccion" id="introduccion" value="{{introduccionModulo}}" rows="10" class="form-control"></textArea>
                                        <span class="bloque-ayuda">{{mensajeError 'introduccionModulo'}}</span>
                                    </div>
                                </div>
    
                            </div>
    
                            <button type="submit" value="Crear" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-ok"></span> Editar</button>
                            <hr/>
                            <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
</template>