<template name="itemModulo">

    <!-- Nueva vista Item Modulo -->

    <!-- Seccion listado modulos -->
    <ul id="acordeon-modulos" class="collapsible">
        <li>

            {{#if isInRole 'user'}}
                {{#if moduloAprobado}}
                <!-- Diseño del módulo aprobado-->
                <div id="container-modulo" class="collapsible-header">
                    <ul id="header-modulo" class="collection">
                        <li class="collection-item left-align calipsoFormAustral">
                            <div id="row-contenido" class="row">
                                <div class="col s10">
                                    <P id="texto-descripcion-modulo" class="white-text">
                                        Módulo: {{orden}}<br>
                                        <b>{{nombreModulo}}</b>
                                    </p>
                                </div>
    
                                <div class="col s2">
                                    <p id="texto-descripcion-modulo" class="white-text right-align">
                                        <i class="material-icons">check</i>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                {{else}}
                    {{#if moduloBloqueado}}
                    <!-- Diseño del módulo bloqueado-->
                    <div id="container-modulo" class="collapsible-header" onclick='return false;'>
                        <ul id="header-modulo" class="collection">
                            <li class="collection-item left-align blue-grey lighten-3">
                                <div id="row-contenido" class="row">
                                    <div class="col s10">
                                        <P id="texto-descripcion-modulo" class="grey-text text-darken-2">
                                            Módulo: {{orden}}<br>
                                            <b>{{nombreModulo}}</b>
                                        </p>
                                    </div>
        
                                    <div class="col s2">
                                        <p id="texto-descripcion-modulo" class="grey-text text-darken-2 right-align">
                                            <i class="material-icons">lock_outline</i>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{else}}
                    <!-- Diseño del módulo normal-->
                    <div id="container-modulo" class="collapsible-header">
                        <ul id="header-modulo" class="collection">
                            <li class="collection-item left-align">
                                <div id="row-contenido" class="row">
                                    <div class="col s10">
                                        <P id="texto-descripcion-modulo" class="black-text">
                                            Módulo: {{orden}}<br>
                                            <b>{{nombreModulo}}</b>
                                        </p>
                                    </div>
        
                                    <div class="col s2">
                                        <p id="texto-descripcion-modulo" class="black-text right-align">
                                            {{cantidadContenidosAprobados}} / {{cantidadContenidos}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{/if}}
                {{/if}}
           {{else}}
            <div id="container-modulo" class="collapsible-header">
                <ul id="header-modulo" class="collection">


                    <li class="collection-item left-align">
                        <div id="row-contenido" class="row">
                            <div class="col s10">
                                <P id="texto-descripcion-modulo" class="black-text">
                                    Módulo: {{orden}}<br>
                                    <b>{{nombreModulo}}</b>
                                </p>
                            </div>

                            <div class="col s2">
                                <a href="{{pathFor 'paginaModulo'}}" class="waves-effect waves-light btn">Ir</a>
                                <!--
                                <p id="texto-descripcion-modulo" class="black-text right-align">
                                    {{cantidadContenidosAprobados}} / {{cantidadContenidos}}
                                </p>
                                -->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {{/if}}
            
            
            <div id="acordeon-body" class="collapsible-body">
                <ul class="collection left-align">

                    <!-- Si es un profesor y el creador del curso -->
                    {{#if isInRole 'profesor'}}
                        {{#if propioModulo}}
                        <li id="contenedor-contenido" class="collection-item azulAustral">
                            <a href="{{pathFor 'crearContenidoDesdeModulo'}}">
                                <div id="row-contenido" class="row">
                                    <div class="col s10">
                                        
                                        <p id="texto-descripcion-modulo" class="white-text"><i id="icono-contenido" class="material-icons">add_circle_outline</i>
                                            Añadir nuevo contenido
                                        </p>
                                    </div>
                                    <div class="col s2">
                                        <p id="texto-descripcion-modulo" class="white-text right-align">
                                            
                                            <i id="icono-contenido" class="material-icons">plus_one</i>
                                            <!-- Si aprobado
                                            <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/if}}
                    {{/if}}

                    {{#if isInRole 'user'}}
                        {{#if moduloBloqueado}}
                        <!-- No mostramos los contenidos -->
                        {{else}}
                            {{#each contenidos}}
                                <li id="contenedor-contenido" class="collection-item">
                                    <a href="{{pathFor 'paginaContenido'}}">
                                        <div id="row-contenido" class="row">
                                            <div class="col s10">
                                                
                                                <p id="texto-descripcion-modulo" class="black-text"><i id="icono-contenido" class="material-icons">play_circle_outline</i>
                                                    {{ordenModulo}}.{{orden}}. {{tituloContenido}}
                                                </p>
                                            </div>
                                            <div class="col s2">
                                                <p id="texto-descripcion-modulo" class="black-text right-align">
                                                    {{duracionContenido}}
                                                    <!--
                                                    <i id="icono-contenido" class="material-icons">radio_button_unchecked</i>
                                                    -->
                                                    <!-- Si aprobado
                                                    <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                        {{/if}}
                    {{else}}
                        {{#each contenidos}}
                        <li id="contenedor-contenido" class="collection-item">
                            <a href="{{pathFor 'paginaContenido'}}">
                                <div id="row-contenido" class="row">
                                    <div class="col s8">
                                        
                                        <p id="texto-descripcion-modulo" class="black-text"><i id="icono-contenido" class="material-icons">play_circle_outline</i>
                                            {{ordenModulo}}.{{orden}}. {{tituloContenido}}
                                        </p>
                                    </div>
                                    <div class="col s4">
                                        <p id="texto-descripcion-modulo" class="black-text right-align">
                                            {{duracionContenido}}
                                            <!--
                                            <i id="icono-contenido" class="material-icons">radio_button_unchecked</i>
                                            -->
                                            <!-- Si aprobado
                                            <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/each}}
                    {{/if}}
                    
                    {{#if tienePrueba}}
                        {{#if isInRole 'user'}}
                            {{#if moduloBloqueado}}
                            <!-- No mostramos los contenidos -->
                            {{else}}
                            <li id="contenedor-contenido" class="collection-item white">
                                <a href="{{pathFor 'paginaPruebaModulo'}}">
                                    <div id="row-contenido" class="row">
                                        <div class="col s8">
                                            
                                            <p id="texto-descripcion-modulo" class="black-text"><i id="icono-contenido" class="material-icons"></i>
                                                Prueba Módulo {{orden}}
                                            </p>
                                        </div>
                                        <div id="duracion-contenidos" class="col s4">
                                            <p id="texto-descripcion-modulo" class="black-text right-align">
                                                {{duracionPrueba}}
                                                <!-- Si aprobado
                                                <i id="icono-contenido" class="material-icons">lock</i>
                                                <i id="icono-contenido" class="material-icons">lock_open</i>-->
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {{/if}}
                        {{else}}
                        <li id="contenedor-contenido" class="collection-item white">
                            <a href="{{pathFor 'paginaPruebaModulo'}}">
                                <div id="row-contenido" class="row">
                                    <div class="col s9">
                                        
                                        <p id="texto-descripcion-modulo" class="black-text"><i id="icono-contenido" class="material-icons"></i>
                                            Prueba Módulo {{orden}}
                                        </p>
                                    </div>
                                    <div id="duracion-contenidos" class="col s3">
                                        <p id="texto-descripcion-modulo" class="black-text right-align">
                                            {{duracionPrueba}}
                                            <!-- Si aprobado
                                            <i id="icono-contenido" class="material-icons">lock</i>
                                            <i id="icono-contenido" class="material-icons">lock_open</i>-->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>

        </li>
    </ul>
    <!-- {{/each}}-->
    <!-- Fin seccion listado modulos -->

</template>