<template name="listadoModulos">

    <!-- Nueva vista listado modulos-->
        {{#each modulos}}
            {{> itemModulo}}
        {{/each}}
    <!--
    <div class="modulos page">
        {{#each modulos}}
            {{> itemModulo}}
        {{/each}}
        
        {{#if propioModulo}}
            {{#if estadoPendiente}}
                <div class="btn-group" role="group">
                    <a href="{{pathFor 'crearModuloDesdeCurso'}}">
                    <button id="crearModulo" type="button" class="botonModulo">
                    <span class="glyphicon glyphicon-file"></span>
                        Añadir Nuevo Módulo
                    </button>
                    </a>
                </div>
            {{/if}}
        {{/if}}
        
        {{#if tienePruebaFinal}}
        <div class="btn-group" role="group">
            {{#if modulosAprobados}}
                {{#if pruebaAprobada}}
                    <a href="{{pathFor 'pruebaCurso'}}">
                    <button id="botonPruebaFinal" type="button" class="botonModulo">
                    <span id="checkModulo" class="glyphicon glyphicon-check"></span>
                        {{tituloPrueba}}
                    </button>
                    </a>
                {{else}}
                    <a href="{{pathFor 'pruebaCurso'}}">
                    <button id="botonPruebaFinal" type="button" class="botonModulo">
                        {{tituloPrueba}}
                    </button>
                    </a>
                {{/if}}
            {{else}}
                <button id="botonPruebaFinal" type="button" class="botonModulo deshabilitado">
                    {{tituloPrueba}}
                </button>
            {{/if}}
        </div>
        {{/if}}
    </div>-->
</template>