<template name="mapaCurso">
    <div id="mapa-curso">

        {{#each filas}}
        <div class="col s12">
            <div class="row">
        
            {{#each nodos}}

                <!-- Si es una prueba -->
                {{#if esPrueba}}

                    {{#if modulosAprobados}}
                    <a class="link-nodo-actual" href="{{pathFor 'paginaPruebaCurso'}}">
                        <div class="col s{{division}} ">
                            <div class="row">
                                <i class="medium material-icons">radio_button_checked</i>
                            </div>
                            <div class="row">
                                Prueba Final
                            </div>
                        </div>
                    </a>

                    {{else}}
                        {{#if pruebaAprobada}}
                        <a class="link-nodo-aprobado" href="{{pathFor 'paginaPruebaCurso'}}">
                            <div class="col s{{division}} ">
                                <div class="row">
                                    <i class="medium material-icons">check_circle</i>
                                </div>
                                <div class="row">
                                    Prueba Final
                                </div>
                            </div>
                        </a>
                        {{else}}
                        <div class="col s{{division}} ">
                            <div class="row">
                                <i class="medium material-icons">lock</i>
                            </div>
                            <div class="row">
                                Prueba Final
                            </div>
                        </div>
                        {{/if}}
                    {{/if}}
                {{else}}
                <!-- Fin prueba -->

                <!-- Si es un módulo actual -->
                {{#if moduloActual}}
                <a class="link-nodo-actual" href="{{pathFor 'paginaModulo'}}">
                    <div class="col s{{division}} ">
                        <div class="row">
                            <i class="medium material-icons">radio_button_checked</i>
                            {{#if ultimoNodo}}
                            {{else}}
                                <div class="linea-progreso"></div>
                            {{/if}}
                        </div>
                        <div class="row">
                            {{nombreModulo}}
                        </div>
                    </div>
                </a>
                {{else}}
                    {{#if moduloAprobado}}
                    <a class="link-nodo-aprobado" href="{{pathFor 'paginaModulo'}}">
                        <div class="col s{{division}} ">
                            <div class="row">
                                <i class="medium material-icons">check_circle</i>
                                {{#if ultimoNodo}}
                                {{else}}
                                <div class="linea-progreso calipsoFormAustral"></div>
                                {{/if}}
                            </div>
                            <div class="row">
                                {{nombreModulo}}
                            </div>
                        </div>
                    </a>
                    {{else}}
                        <div class="col s{{division}} ">
                            <div class="row">
                                <i class="medium material-icons">lock</i>
                                {{#if ultimoNodo}}
                                {{else}}
                                    <div class="linea-progreso"></div>
                                {{/if}}
                            </div>
                            <div class="row">
                                {{nombreModulo}}
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                <!-- Fin módulo actual -->

                {{/if}}
            {{/each}}

            </div>
        </div>
        {{/each}}
        
    </div>
</template>