<template name="paginaResultados">
    <div id="container-resultados" class="container">
        <div class="row">
            <div id="col-resultados" class="col s12">

                {{#if esModulo}}
                <div id="contenedor-resultados" class="">
                    <div class="row">

                        <p id="bajada-resultado-modulo" class="grey-text text-darken-2 mayusculas"><b>prueba</b></p>
                        <p id="titulo-prueba-modulo" class="grey-text text-darken-2">Prueba módulo {{ordenModulo}}</p>
                        <p id="bajada-prueba-modulo" class="grey-text text-darken-2">{{totalPreguntas}} preguntas</p>
                        <div class="col s5">
                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Tu puntaje</b></p>
                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Tu nota</b></p>
                        </div>
                        <div class="col s7">
                            <div class="row"> 
                                {{#if aprobado}}
                                <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{porcentajeObtenido}}%</p>
                                <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{notaObtenida}}</p>
                                {{else}}
                                <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{porcentajeObtenido}}%</p>
                                <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{notaObtenida}}</p>
                                {{/if}}
                                <p id="bajada-prueba-modulo" class="grey-text text-darken-2">Guardamos tu puntaje más alto.</p>
                            </div>
                        </div>

                        <a id="boton-retomar" class="waves-effect waves-light btn-large calipsoFormAustral">Volver a tomarlo</a>
                        {{#if aprobado}}
                        <a id="boton-siguiente" class="waves-effect waves-light btn-large calipsoFormAustral">Ir al siguiente módulo</a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}

                {{#if esCurso}}

                    {{#if isInRole 'user'}}
                    <div id="contenedor-resultados" class="">
                        <div class="row">

                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 mayusculas"><b>prueba</b></p>
                            <p id="titulo-prueba-modulo" class="grey-text text-darken-2">Prueba Final curso</p>
                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2">{{totalPreguntas}} preguntas</p>

                            {{#if enEspera}}
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <p>Su prueba está en proceso de revisión por el Profesor del curso.
                                        Se le notificará cuando haya terminado.
                                    </p>
                                </div>
                            </div>
                            {{else}}
                                {{#if aprobado}}

                                <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <p>Felicitaciones <b>{{nombreUsuario}}</b>!, Usted ha aprobado la Prueba Final del Curso:
                                        <b>{{nombreCurso}}</b>
                                        </p>
                                    </div>
                                </div>

                                {{else}}
                                    <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <p>No has aprobado la Prueba Final del Curso:
                                            <b>{{nombreCurso}}</b>. No te desanimes, puedes volver a intentarlo.
                                            </p>
                                        </div>
                                    </div>
                                {{/if}}

                            {{/if}}
                            <div class="col s5">
                                <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Tu puntaje</b></p>
                                <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Tu nota</b></p>
                            </div>
                            <div class="col s7">
                                <div class="row">
                                    {{#if enEspera}}
                                    <p id="bajada-prueba-modulo" class="grey-text text-darken-2">En espera de revisión</p>
                                    <p id="bajada-prueba-modulo" class="grey-text text-darken-2">En espera de revisión</p>
                                    {{else}}
                                        {{#if aprobado}}
                                        <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{porcentajeObtenido}}%</p>
                                        <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{notaObtenida}}</p>
                                        {{else}}
                                        <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{porcentajeObtenido}}%</p>
                                        <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{notaObtenida}}</p>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>

                            {{#if aprobado}}
                            {{else}}
                            <a id="boton-retomar-prueba" class="waves-effect waves-light btn-large calipsoFormAustral">Volver a tomarlo</a>
                            {{/if}}
                            <a id="boton-listado-cursos" href="{{pathFor 'listadoAreas'}}" class="waves-effect waves-light btn-large calipsoFormAustral">Volver a Mis Cursos</a>
                        </div>
                    </div>
                    {{/if}}
                {{/if}}

            </div>
        </div>
    </div>
</template>