<template name="paginaModulo">
    <div id="paginaModulo" class="paginaModulo">

    <!-- Nueva vista de página Módulo -->
    
    <div id="contenedor-pagina-modulo" class="row">
        <div id="contenedor-titulo-modulo" class="col s12 m3 white">

            <div id="contenedor-titulo-modulo2" class="grey lighten-4">
                <div id="contenedor-titulo-modulo3" class="">
                    <p id="titulo-modulo"><b>{{nombreModulo}}</b></p>
                    {{#if isInRole 'profesor'}}
                        {{#if propioModulo}}
                            {{#if estadoPendiente}}
                            <div class="row">
                                <a id="editarCurso" href="{{pathFor 'edicionModulo'}}" class="waves-effect waves-light btn-large left calipsoFormAustral"><span class="glyphicon glyphicon-cog"></span>Editar Módulo</a>
                            </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <div id="sidenav-contenedor-listado-modulos" class="white">

                <p id="titulo-bienvenida">En donde estoy</p>

                <div id="contenedor-listado-modulos2">
                    <ul class="collection">
                        <li id="sidenav-contenedor-titulo" class="collection-item">
                            <div id="sidenav-row-contenido" class="row">
                                <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">
                                    Módulo {{orden}}<br>
                                    {{nombreModulo}}
                                </p>
                            </div>
                        </li>
                        {{#each contenidos}}
                        <li id="sidenav-contenedor-contenido" class="collection-item">
                            <a href="{{pathFor 'paginaContenido'}}">
                                <div id="sidenav-row-contenido" class="row">
                                    <div class="col s10">
                                        
                                        <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2"><i id="icono-contenido" class="material-icons">play_circle_outline</i>
                                            {{orden}}. {{tituloContenido}}
                                        </p>
                                    </div>
                                    <div id="duracion-contenidos" class="col s2">
                                        <p id="sidenav-texto-descripcion-modulo" class="grey-text center-align">
                                            duración
                                            {{duracionContenido}}
                                            <!-- Si aprobado
                                            <i id="icono-contenido" class="material-icons">radio_button_unchecked</i>
                                            <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/each}}
                        {{#if tienePrueba}}
                        <li id="sidenav-contenedor-contenido" class="collection-item beigeFormAustral">
                            <a href="{{pathFor 'paginaPruebaModulo'}}">
                                <div id="sidenav-row-contenido" class="row">
                                    <div class="col s9">
                                        
                                        <p id="sidenav-texto-descripcion-modulo" class="white-text">
                                            Prueba Módulo {{orden}}
                                        </p>
                                    </div>
                                    <div id="duracion-contenidos" class="col s3">
                                        <p id="sidenav-texto-descripcion-modulo" class="white-text center-align">
                                            duración
                                            {{duracionPrueba}}
                                            <!-- Si aprobado
                                            <i id="icono-contenido" class="material-icons">lock</i>
                                            <i id="icono-contenido" class="material-icons">lock_open</i>-->
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>

        </div>

        <div id="contenedor-mapa" class="col s12 m6 white">
            <div id="contenedor-mapa2" class="grey lighten-4">
                <div id="row-mapa" class="row center-align">
                    {{>mapaCurso}}
                </div>
            </div>

            <div class="card white">
                <div class="card-content">
                    <span class="card-title">Introducción Módulo</span>
                    <div class="divider"></div>
                    <br>
                    <p class="justificado">{{introduccionModulo}}</p>
                </div>
            </div>
        </div>

        <div id="contenedor-botones" class="col s12 m3 white">

            <div id="contenedor-botones2" >

                <div class="row">
                    <form>
                        <button id="boton-bienvenida" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Atrás</button>
                        <button id="boton-realizar-curso" type="submit" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Siguiente</button>
                    </form>
                </div>

                {{#if isInRole 'profesor'}}
                    <div class="row">
                        <a id="boton-definir-modulo" href="{{pathFor 'definirPruebaModulo'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Ajustes de Prueba</a>
                    </div>
                {{/if}}

                {{#if tieneDesarrollo}}
                    <div class="row">    
                        <a id="resultadosModulo" class="waves-effect waves-light btn-large left moradoOscuroFormAustral">Ver Resultados</a>
                    </div>
                {{/if}}
                
            </div>
        </div>
    </div>

    </div>


    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>

</template>