<template name="paginaPruebaModulo">
    <form class="formAgregarPregunta">
        <div class="row">
            <div id="form" class="form white formAgregarPregunta">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="titulo-prueba-modulo" class="">Prueba módulo {{orden}}</p>

                        <label id="duracionPrueba" class="hidden">{{duracion}}</label>

                        <!-- Display the countdown timer in an element -->
                        <div id="sticky">
                            <p id="demo" class="letra-timer negrita grey-text text-darken-2 fixed"></p>
                        </div>

                        <p id="bajada-prueba-modulo" class="grey-text text-darken-2"> prueba, {{cantidadPreguntas}} preguntas, {{duracion}}</p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            {{#each preguntas}}

                            <a id="idPregunta{{posicion}}" style="display:none">{{_id}}</a>

                            {{#if esAlternativa}}

                            <div id="row-input-preguntas" class="row">
                                <div class="col s12">
                                    <p name="enunciado1" id="enunciado1" class="prueba-modulo grey-text text-darken-2 justificado">{{posicion}}. {{enunciado}}</p>
                                    <div class="col s1">
                                        <p>
                                            <input name="group{{posicion}}" type="radio" id="radio{{idRadio1}}" class="with-gap" />
                                            <label for="radio{{idRadio1}}"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt{{idRadio1}}" id="alt{{idRadio1}}" class="prueba-modulo grey-text text-darken-2">{{alt1}}</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input name="group{{posicion}}" type="radio" id="radio{{idRadio2}}" class="with-gap" />
                                            <label for="radio{{idRadio2}}"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt{{idRadio2}}" id="alt{{idRadio2}}" class="prueba-modulo grey-text text-darken-2">{{alt2}}</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input name="group{{posicion}}" type="radio" id="radio{{idRadio3}}" class="with-gap" />
                                            <label for="radio{{idRadio3}}"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt{{idRadio3}}" id="alt{{idRadio3}}" class="prueba-modulo grey-text text-darken-2">{{alt3}}</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input name="group{{posicion}}" type="radio" id="radio{{idRadio4}}" class="with-gap" />
                                            <label for="radio{{idRadio4}}"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt{{idRadio4}}" id="alt{{idRadio4}}" class="prueba-modulo grey-text text-darken-2">{{alt4}}</p>
                                    </div>
                                </div> 
                            </div>
                            <div class="divider"></div>
                            {{else}}

                            <div id="row-input-preguntas" class="row">
                                    <div class="col s12">
                                        <p name="enunciado1" id="bajada-prueba-modulo" class="prueba-modulo grey-text text-darken-2 justificado">{{posicion}}. {{sentencia}}</p>
                                        <div class="col s1">
                                            <p>
                                                <input name="group{{posicion}}" type="radio" id="radio{{idRadio1}}" class="with-gap" />
                                                <label for="radio{{idRadio1}}"></label>
                                            </p>
                                        </div>
                                        
                                        <div class="col s11">
                                            <p name="alt{{idRadio1}}" id="alt{{idRadio1}}" class="prueba-modulo grey-text text-darken-2">Verdadero</p>
                                        </div>
                                    </div>
    
                                    <div class="col s12">
                                        <div class="col s1">
                                            <p>
                                                <input name="group{{posicion}}" type="radio" id="radio{{idRadio2}}" class="with-gap" />
                                                <label for="radio{{idRadio2}}"></label>
                                            </p>
                                        </div>
                                        
                                        <div class="col s11">
                                            <p name="alt{{idRadio2}}" id="alt{{idRadio2}}" class="prueba-modulo grey-text text-darken-2">Falso</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            {{/if}}
                            {{/each}}

                        </div>

                        <div class="col s12">
                            <div class="col s1">
                                <p>
                                    <input type="checkbox" id="checkbox-confirmacion" />
                                    <label for="checkbox-confirmacion"></label>
                                </p>
                            </div>
                            
                            <div class="col s11">
                                <p name="confirmacion" id="bajada-prueba-modulo" class="grey-text text-darken-2"> Yo, <b>{{nombreUsuario}}</b>, entiendo
                                    que enviar trabajo que no es mío genera la desaprobación permanente de este curso y la desactivación
                                    de mi cuenta de FormAustral.
                                </p>
                            </div>
                        </div>

                        <button type="submit" id="boton-prueba" class="waves-effect waves-light btn-large calipsoFormAustral">
                            Enviar respuestas
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <script>
        //function startTimer() {
            var duracionPrueba = Number(document.getElementById("duracionPrueba").textContent);

            // Set the date we're counting down to
            var countDownDate = new Date().getTime() + ((duracionPrueba/60)*60*60*1000);

            // Update the count down every 1 second
            var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            if(document.getElementById("demo")==null) {
                    clearInterval(x);
                } else {
                    document.getElementById("demo").innerHTML = hours + "h "
                    + minutes + "m " + seconds + "s ";
                }

            if( Math.round(distance / 1000 ) == 300) {
                lanzarError("quedan 5 minutos para finalizar tu prueba");
            }

            if( Math.round(distance / 1000 ) == 60) {
                lanzarError("queda 1 minutos para finalizar tu prueba");
            }

            if( Math.round(distance / 1000 ) == 0) {
                document.getElementById('boton-prueba').click();
                document.getElementById("boton-prueba").disabled = true;
            }

            // If the count down is finished, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "Tiempo Finalizado";
            }
            }, 1000);
        //}
    </script>
</template>