<template name="crearMetas">
    <form class="crearMetas">
        <h3>Creación de Metas</h3>
        <br/>
        <div class="form-group {{claseError 'nombreMeta'}}">
            <label class="control-label">Nombre</label>
            <input name="meta" id="meta" type="text" value="" placeholder="Nombre de la Meta" class="form-control">
            <span class="bloque-ayuda">{{mensajeError 'nombreMeta'}}</span>
        </div>
            
        <div class="form-group {{claseError 'descripcion'}}">
            <label class="control-label">Descripción</label>
            <textArea name="descripcion" id="descripcion" value="Ingresa una descripción de la Meta..." class="form-control"></textArea>
            <span class="bloque-ayuda">{{mensajeError 'descripcion'}}</span>
        </div>
        
        <div class="form-group {{claseError 'dificultad'}}">
            <label class="control-label">Dificultad</label>
            <div class="radio">
                <label><input type="radio" name="optradio">Básica</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Intermedia</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Avanzada</label>
            </div>
            <span class="bloque-ayuda">{{mensajeError 'dificultad'}}</span>
        </div>
            
        <div class="form-group {{claseError 'cursosMetas'}}">
            <label class="control-label">Listado Cursos</label>
            <p>Selecciona los Cursos que conformarán la Meta.</p>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Curso</th>
                    <th>Prerrequisitos</th>
                    <th>Área</th>
                    <th>Autor</th>
                </tr>
            {{#each cursos}}
                <tr id="trCurso">
                    <th><input type="checkbox"></th>
                    <button style="display:none">{{_id}}</button>
                    <th><a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                        </a></th>
                    <th>
                    {{#each prerrequisitos}}
                        <a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                        </a>
                        <br/>
                    {{/each}}
                    </th>
                    <th>{{nombreArea}}</th>
                    <th>{{autorCurso}}</th>
                </tr>
            {{/each}}
            </table>
            <span class="bloque-ayuda">{{mensajeError 'cursosMetas'}}</span>
        </div>
        <button type="submit" id="crear" value="Crear" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Crear</button>
    </form>
</template>