<template name="itemMeta">
    <div class="itemMeta">
        
        {{#if metaAprobada}}
        
            <a href="#">
            <button id="botonMeta" type="button" class="botonMeta">
                <strong>{{nombreMeta}}</strong>
                <br/>
                    Dificultad {{dificultad}}
                <br/>
                <span class="metaAprobada"><strong>Finalizada</strong></span>
                <br/>
                <br/>
                    {{descripcion}}
            </button>
            </a>
        
        {{else}}
        
            <a href="#">
            <button type="button" class="botonMeta">
                <strong>{{nombreMeta}}</strong>
                <br/>
                    Dificultad {{dificultad}}
                <br/>
                    <span id=iconoMeta class="glyphicon glyphicon-book"></span>
                    {{contadorCursos}} cursos
                <br/>
                <br/>
                    {{descripcion}}
            </button>
            </a>
        
        {{/if}}
        
        <div id="cursosMeta">
            {{#each cursos}}
                {{> itemCurso}}
            {{/each}}
        </div>
    </div>
</template>