<template name="crearCurso">
    
    <!-- Nuevo formulario de contenido -->

    <form class="formCrearCurso">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de Curso
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreCurso'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="curso" id="curso" type="text" value="" placeholder="Nombre del Curso" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreCurso'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- Imagen -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>Imágen</span>
                                            <input id="imagenCurso" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Sube una imágen">
                                        </div>
                                    </div>
                                    <span class="bloque-ayuda">{{mensajeError 'imagenId'}}</span>

                                </div>
                            </div>

                            <!-- Dropdownlist area -->
                            <div class="form-group {{claseError 'areaId'}}">
                                <label>Área</label>
                                <select id="seleccion-area" class="browser-default">
                                    <option value="" selected>Selecciona un Área</option>
                                    {{#each areas}}
                                        <option value="{{nombreArea}}">{{nombreArea}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'areaId'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Ingresa un objetivo para el Curso</p>
                                    <textArea name="objetivoCurso" id="objetivoCurso" rows="10" value="" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'objetivoCurso'}}</span>
                                </div>
                            </div>
                        
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Ingresa una descripción para el Curso</p>
                                    <textArea name="descripcionCurso" id="descripcionCurso" rows="10" value="" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'descripcionCurso'}}</span>
                                </div>
                            </div>

                            <!-- Dropdownlist area -->
                            <div class="form-group {{claseError 'nivel'}}">
                                <label>Nivel</label>
                                <select id="seleccion-nivel" class="browser-default">
                                        <option value="" selected>Selecciona un Nivel</option>
                                        <option value="Nivel Básico">Nivel Básico</option>
                                        <option value="Nivel Medio">Nivel Medio</option>
                                        <option value="Nivel Avanzado">Nivel Avanzado</option>
                                        <option value="Todos los niveles">Todos los niveles</option>
                                    </select>
                                <span class="bloque-ayuda">{{mensajeError 'nivel'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Duración del curso (en horas)</p>
                                    <input name="duracion" id="duracion" type="number" step="any" value="" placeholder="ej: 6" min="1" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'duracionCurso'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Nota de aprobación</p>
                                    <input name="aprobacionCurso" id="aprobacionCurso" type="number" step="any" value="" placeholder="ej: 5" min="1" max="7" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'notaAprobacion'}}</span>
                                </div>
                            </div>
                        
                        </div>

                        <p id="texto-search" class=""> Módulo de bienvenida</p>
                    
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Mensaje de bienvenida</p>
                                    <textArea name="mensajeBienvenida" id="mensajeBienvenida" value="" rows="10" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'mensajeBienvenida'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Video de bienvenida</p>
                                    <input name="video" id="video" type="text" value="" placeholder="https://www.youtube.com/watch?v=PIh2xe4jnpk" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'video'}}</span>
                                </div>
                            </div>
                            
                        </div>

                        <button type="submit" id="contenido" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Añadir
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>

</template>


