<template name="definirPruebaCurso">
    <form class="formPruebaCurso">
        <div class="row">
            <div id="form" class="form white formAgregarPregunta">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-titulo-definir" class=""> Definir parámetros de Prueba Final
                        </p>
                        <p id="texto-bajada" class=""><b>curso: </b>{{nombreCurso}}
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test3" />
                                            <label for="test3"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt3" id="alt3" for="test3">Incluir prueba final</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test1" />
                                            <label for="test1"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt1" id="alt1" for="test1">Permitir preguntas de alternativas</p>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test2" />
                                            <label for="test2"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt2" id="alt2" for="test2">Permitir preguntas de verdadero y falso</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12 left-align">
                                    Cantidad de preguntas de selección múltiple:
                                    <div id="cantidadPreguntas" class="input-field inline">
                                        <input id="cantidad-preguntas" type="number" min="1" max="{{cantidad}}" class="validate">
                                    </div>
                                    de un total de: {{cantidad}}
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12 left-align">
                                    Cantidad de preguntas de desarrollo:
                                    <div id="cantidadPreguntas" class="input-field inline">
                                        <input id="cantidad-preguntas-desarrollo" type="number" min="0" max="{{cantidadDesarrollo}}" class="validate">
                                    </div>
                                    de un total de: {{cantidadDesarrollo}}
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12">
                                    <div class="input-field">
                                        <p>Ingresa la duración de la prueba (en minutos)</p>
                                        <input id="duracion" placeholder="ej: 60" type="number" min="1" class="validate">
                                    </div>
                                </div>
                            </div>

                        </div>
                            <!-- Fin -->

                            <!-- Trabajo Final-->

                        <p id="texto-search" class=""> Parámetros del Trabajo Final
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">

                                <div class="col s12">
                                    <div class="col s1">
                                        <p>
                                            <input type="checkbox" id="test4" />
                                            <label for="test4"></label>
                                        </p>
                                    </div>
                                    
                                    <div class="col s11">
                                        <p name="alt4" id="alt4" for="test4">Incluir trabajo final</p>
                                    </div>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Enunciado del trabajo final</p>
                                    <textarea id="enunciado-prueba" placeholder="" rows="10" class="form-control"></textarea>
                                </div>
                            </div>
    
                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12 left-align">
                                    Ponderación trabajo final:
                                    <div class="input-field inline">
                                        <input id="ponderacion" type="number" min="1" max="99" class="validate">
                                    </div>
                                    %
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="col s12">
                                    <div class="input-field">
                                        <p>Ingresa la duración del trabajo (en horas)</p>
                                        <input id="duracionTrabajo" placeholder="ej: 1" type="number" min="1" class="validate">
                                    </div>
                                </div>
                            </div>


                        </div>


                        <!-- Fin -->


                        <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                            Definir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>