<template name="edicionCurso">
    
    <!-- Nuevo formulario de edición de cursos -->
    
    <form class="formCrearCurso">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class="">Edición de Curso
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreCurso'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="curso" id="curso" type="text" value="{{nombreCurso}}" placeholder="Nombre del Curso" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreCurso'}}</span>
                                </div>
                            </div>

                            {{#each imagenes}}
                            <div class="col s12">
                                <img id="imagen-pagina-curso" class="activator" src="{{this.url}}">
                                <a id="imagenName" style="display: none">{{this.name}}</a>
                                <a id="imagenId" style="display: none">{{this._id}}</a>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- Imagen -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>Imágen</span>
                                            <input id="imagenCurso" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            <input id="archivoCurso" class="file-path validate" type="text" value="{{this.name}}" placeholder="Sube una imágen">
                                        </div>
                                    </div>
                                    <span class="bloque-ayuda">{{mensajeError 'imagenId'}}</span>

                                </div>
                            </div>
                            {{/each}}

                            <!-- Dropdownlist area -->
                            <div class="form-group {{claseError 'areaId'}}">
                                <label>Área</label>
                                <select id="seleccion-area" class="browser-default">
                                    <option value="{{areaSeleccionada}}" selected>{{areaSeleccionada}}</option>
                                    {{#each areas}}
                                        <option value="{{nombreArea}}">{{nombreArea}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'areaId'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Ingresa un objetivo para el Curso</p>
                                    <textArea name="objetivoCurso" id="objetivoCurso" rows="10" value="{{objetivoCurso}}" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'objetivoCurso'}}</span>
                                </div>
                            </div>
                        
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Ingresa una descripción para el Curso</p>
                                    <textArea name="descripcionCurso" id="descripcionCurso" rows="10" value="{{descripcionCurso}}" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'descripcionCurso'}}</span>
                                </div>
                            </div>

                            <!-- Dropdownlist area -->
                            <div class="form-group {{claseError 'nivel'}}">
                                <label>Nivel</label>
                                <select id="seleccion-nivel" class="browser-default">
                                        <option value="{{nivel}}" selected>{{nivel}}</option>
                                        <option value="Nivel Básico">Nivel Básico</option>
                                        <option value="Nivel Medio">Nivel Medio</option>
                                        <option value="Nivel Avanzado">Nivel Avanzado</option>
                                        <option value="Todos los niveles">Todos los niveles</option>
                                    </select>
                                <span class="bloque-ayuda">{{mensajeError 'nivel'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Duración del curso</p>
                                    <input name="duracion" id="duracion" type="text" step="any" value="{{duracionCurso}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'duracionCurso'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Nota de aprobación</p>
                                    <input name="aprobacionCurso" id="aprobacionCurso" type="number" step="any" value="{{notaAprobacion}}" min="1" max="7" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'notaAprobacion'}}</span>
                                </div>
                            </div>
                        
                        </div>

                        <p id="texto-search" class=""> Módulo de bienvenida</p>
                    
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Mensaje de bienvenida</p>
                                    <textArea name="mensajeBienvenida" id="mensajeBienvenida" value="{{mensajeBienvenida}}" rows="10" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'mensajeBienvenida'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Video de bienvenida</p>
                                    <input name="video" id="video" type="text" value="{{video}}" placeholder="https://www.youtube.com/watch?v=PIh2xe4jnpk" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'video'}}</span>
                                </div>
                            </div>
                            
                        </div>

                        <button type="submit" value="guardar" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</button>
                        <hr/>
                        <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>

                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <!-- Fin -->

    <!--
    <form class="edicionCurso">
        <div class="form-group {{claseError 'nombreCurso'}}">
            <label class="control-label">Nombre</label>
            <input name="curso" id="curso" type="text" value="{{nombreCurso}}" placeholder="Nombre del Curso" class="form-control">
            <span class="bloque-ayuda">{{mensajeError 'nombreCurso'}}</span>
        </div>
            
        <div id="divEdicion" class="form-group {{claseError 'nombreArea'}}">
            <label class="control-label" for="area">Área</label>
        
            <select id="seleccion-area" class="form-control">
            <option selected="selected" value="{{nombreAreaIngresada}}">{{nombreAreas}}</option>
                {{#each areas}}
                    <option value="{{nombreArea}}">{{nombreArea}}</option>
                {{/each}}
            </select>
            <span class="bloque-ayuda">{{mensajeError 'nombreArea'}}</span>
        </div>
        
        <div class="form-group {{claseError 'objetivoCurso'}}">
            <label class="control-label">Objetivo del Curso</label>
            <p>Ingresa un objetivo para el Curso</p>
            <textArea name="objetivoCurso" id="objetivoCurso" value="{{objetivoCurso}}" class="form-control"></textArea>
            <span class="bloque-ayuda">{{mensajeError 'objetivoCurso'}}</span>
        </div>
        
        <div class="form-group {{claseError 'notaAprobacion'}}">
            <label class="control-label">Nota de Aprobación del Curso</label>
            <p>(Entre 1 a 7)</p>
            <input name="aprobacionCurso" id="aprobacionCurso" type="number" step="any" value="{{notaAprobacion}}" placeholder="" min="1" max="10" class="form-control">
            <span class="bloque-ayuda">{{mensajeError 'notaAprobacion'}}</span>
        </div>
        
        <div class="form-group">
            <label class="control-label">Prerequisitos</label>
            <p>Selecciona los Cursos Prerequisitos.</p>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Curso</th>
                    <th>Prerequisitos</th>
                    <th>Área</th>
                    <th>Autor</th>
                </tr>
            {{#each cursosPrerequisitos}}
                <tr id="trCurso">
                    <th><input type="checkbox"></th>
                    <button style="display:none">{{_id}}</button>
                    <th><a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                        </a>
                    </th>
                    <th>
                    {{#each prerequisitos}}
                        <a href="{{pathFor 'paginaCurso'}}">
                        {{nombreCurso}}
                        </a>
                        <br/>
                    {{/each}}
                    </th>
                    <th>{{nombreAreas}}</th>
                    <th>{{author}}</th> 
                </tr>
            {{/each}}
            </table>
        </div>
        
        <button type="submit" value="guardar" class="btn btn-default"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</button>
        <hr/>
        <a href="#" class="btn btn-danger eliminar"><span class="glyphicon glyphicon-trash"></span>   Eliminar</a>
    </form>
    -->

</template>