<template name="itemCurso">
    <div class="itemCurso center">
    
        <!-- Nuevo Card de Cursos -->
        <a id="cardCurso" href="{{pathFor 'paginaBienvenida'}}">
            <div class="card horizontal white hide-on-small-only hoverable">
                {{#each imagenes}}
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.url}}">
                </div>
                {{/each}}
                <div class="card-stacked">
                    <div class="card-content left-align">
                        
                        <div class="row">
                            <div class="col s8">
                                <!-- Título -->
                                <div id="rowCard" class="row">
                                    <h6 id="cardTitulo" class="negrita">{{nombreCurso}}</h6>
                                </div>
                            </div>
                            <div class="col s4">
                                {{#if isInRole 'admin'}}
                                <a href="{{pathFor 'cambiarProfesor'}}" ><h6 class="">Cambiar Profesor</h6></a>
                                {{/if}}
                            </div>
                        </div>

                        <!-- Info -->
                        <div id="rowCard" class="row">
                            <h6 class="grey-text text-darken-1">{{cantidadModulos}} | {{duracionCurso}} | {{nivel}}</h6>
                        </div>
                        
                        <!-- Descripción -->
                        <div id="rowCard" class="row">
                            <h6 id="cardDescripcion" class="grey-text text-darken-1 justificado">{{descripcionCurso}}</h6>
                        </div> 
                        
                        <!-- Info -->
                        <div id="rowCard" class="row">
                            <h6 class="grey-text text-darken-1">por {{autorCurso}}</h6>
                        </div>

                        {{#if isInRole 'user'}}
                        <div id="rowCard" class="row">
                            <h6 class="grey-text text-darken-1 left">progreso <b>{{porcentajeAprobado}}%</b></h6>
                            <div id="barra-curso" class="progress">
                                <div class="determinate" style="width: {{porcentajeAprobado}}%"></div>
                            </div>
                        </div>
                        {{/if}}
                        
                    </div>

                    <!-- 
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>-->
                </div>
            </div>
        </a>
    </div>

    
</template>