<template name="listadoCursos">
    <div id="listado-cursos" class="cursos page">
            
            {{#if isInRole 'admin'}}
                {{#each cursosAdmin}}
                    {{> itemCurso}}
                {{/each}}
            {{/if}}
            
            {{#if isInRole 'profesor'}}
                {{#each cursos}}
                    {{> itemCurso}}
                {{/each}}
            {{else}}
                {{#each cursosUsuario}}
                    {{> itemCurso}}
                {{/each}}
            {{/if}}
    </div>
</template>