<template name="listadoCursosInscritos">
    <div id="listado-cursos" class="cursos page">
            
            {{#if isInRole 'admin'}}
                
            {{/if}}
            
            {{#if isInRole 'profesor'}}
                
            {{else}}
                {{#each cursosUsuarioInscritos}}
                    {{> itemCurso}}
                {{/each}}
            {{/if}}
    </div>
</template>