<template name="paginaTrabajoFinal">
        <form class="formPaginaTrabajoFinal">
            <div class="row">
                <div id="form" class="form white formAgregarPregunta">
    
                    <div class="row">
    
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="titulo-prueba-modulo" class="">Trabajo Final Curso <br>
                            <b>{{nombreCurso}}</b></p>
    
                            <label id="duracionPrueba" class="hidden">{{duracion}}</label>
    
                            <!-- Display the countdown timer in an element -->
                            <!--
                            <div id="sticky">
                                <p id="demo" class="letra-timer negrita grey-text text-darken-2 fixed"></p>
                            </div>
                            -->
    
                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2"> trabajo, 1 trabajo final, {{duracion}}</p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <!--{{#if pruebaFinal}}-->
    
                                <div id="row-input-preguntas" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <!-- Tranajo Final -->
                                        <p id="enunciado-trabajo" class="prueba-modulo grey-text text-darken-2 left-align">Trabajo Final: {{trabajoFinal.enunciadoPrueba}}</p>
                    
                                        <div class="file-field input-field">
                                            <i class="material-icons prefix"></i>
                                            <div id="boton-imagen" class="btn moradoIncluyes right">
                                                <span>PDF</span>
                                                <input id="trabajoFinal" type="file">
                                            </div>
                        
                                            <div id="input-imagen" class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="Sube un documento formato PDF con tu trabajo">
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
    
                                <div class="divider"></div>
                                <!--{{/if}}-->
    
                            </div>
    
                            <div class="col s12">
                                <div class="col s1">
                                    <p>
                                        <input type="checkbox" id="checkbox-confirmacion" />
                                        <label for="checkbox-confirmacion"></label>
                                    </p>
                                </div>
                                
                                <div class="col s11">
                                    <p name="confirmacion" id="bajada-prueba-modulo" class="grey-text text-darken-2"> Yo, <b>{{nombreUsuario}}</b>, entiendo
                                        que enviar trabajo que no es mío genera la desaprobación permanente de este curso y la desactivación
                                        de mi cuenta de FormAustral.
                                    </p>
                                </div>
                            </div>
    
                            <button type="submit" id="boton-prueba" class="waves-effect waves-light btn-large calipsoFormAustral">
                                Enviar respuestas
                            </button>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </form>
    
    </template>