<template name="paginaCurso">

    <div class="paginaCurso">
    <!-- Nueva vista de Curso -->

    <!-- Sección Imagen -->
		<div id=titulo-imagen class="col s12 blue-grey darken-3">
            <div id="seccion-tabs" class="row center">

                <div class="container">

                    {{#each imagenes}}
                    <div class="col s12 m5">
                        <img id="" class="activator responsive-img" src="{{this.url}}">
                    </div>
                    {{/each}}

                    <div class="col s12 m7">
                        <div class="row">

                            <h2 id="texto-search" class="white-text left-align" tabindex="15">{{nombreCurso}}</h2>

                        </div>

                            {{#if isInRole 'user'}}
                                {{#if tieneDesarrollo}}
                                <div class="row">    
                                    <a id="resultadosCurso" class="waves-effect waves-light btn-large left calipsoFormAustral">Ver Resultados</a>
                                </div>
                                {{/if}}

                                <!-- Nueva forma de mostrar el certificado -->
                                {{#if tieneTrabajoFinal}}
                                    {{#if trabajoAprobado}}
                                        {{#if tienePruebaFinal}}
                                            {{#if pruebaAprobada}}
                                            <div class="row">    
                                                <a id="paginaCertificado" class="waves-effect waves-light btn-large left moradoFormAustral">Generar Certificado</a>
                                            </div>
                                            {{/if}}
                                        {{else}}
                                        <div class="row">    
                                            <a id="paginaCertificado" class="waves-effect waves-light btn-large left moradoFormAustral">Generar Certificado</a>
                                        </div>
                                        {{/if}} 
                                    {{/if}}
                                {{else}}
                                    {{#if tienePruebaFinal}}
                                        {{#if pruebaAprobada}}
                                        <div class="row">    
                                            <a id="paginaCertificado" class="waves-effect waves-light btn-large left moradoFormAustral">Generar Certificado</a>
                                        </div>
                                        {{/if}}
                                    {{/if}}  
                                {{/if}}
                                <!-- Fin -->

                                <!-- Forma antigua
                                {{#if trabajoAprobado}}
                                    {{#if pruebaAprobada}}
                                    <div class="row">    
                                        <a id="paginaCertificado" class="waves-effect waves-light btn-large left moradoFormAustral">Generar Certificado</a>
                                    </div>
                                    {{/if}}
                                {{/if}}
                                -->
                            {{/if}}

                            {{#if isInRole 'profesor'}}
                                {{#if propioCurso}}
                                    <div class="row">
                                            <a id="listadoPreguntas" href="{{pathFor 'paginaPreguntasDesarrollo'}}" class="waves-effect waves-light btn-large left calipsoFormAustral"><span class=""></span>Listado de preguntas</a>
                                    </div>

                                    {{#if estadoPendiente}}
                                    
                                    <div class="row">
                                        <a id="editarCurso" href="{{pathFor 'edicionCurso'}}" class="waves-effect waves-light btn-large left calipsoFormAustral"><span class="glyphicon glyphicon-cog"></span>Editar Curso</a>
                                    </div>
                                    <div class="row">
                                        <a id="definirPruebaFinal" href="{{pathFor 'definirPruebaCurso'}}" class="waves-effect waves-light btn-large left calipsoFormAustral"><span class="glyphicon glyphicon-cog"></span> Definir parámetros de Prueba</a>
                                    </div>
                                    {{/if}}
        
                                    <div class="row">
                                    {{#if estadoTerminado}}
                                        <!-- Si el estado es finalizado, mostramos el botón de esperando confirmacion y escondemos el de publicar -->
                                        
                                        <a style="display:none" id="publicarCurso" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-globe"></span> Publicar Curso</a>
                                        <a id="enEspera" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-hourglass"></span> Esperando confirmación Administrador</a>
                                        <a style="display:none" id="cursoPublicado" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-thumbs-up"></span> Curso publicado</a>
                                    {{else}}

                                        {{#if estadoPublicado}}
                                        <!-- Si el estado es publicado, mostramos un botón verde de publicado y escondemos los anteriores-->
                                            <a style="display:none" id="publicarCurso" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-globe"></span> Publicar Curso</a>
                                            <a style="display:none" id="enEspera" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-hourglass"></span> Esperando confirmación Administrador</a>
                                            <a id="cursoPublicado" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-thumbs-up"></span> Curso publicado</a>
                                        {{else}}
                                            <!-- Si tiene estado pendiente -->
                                            
                                            <a id="publicarCurso" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-globe"></span> Publicar Curso</a>
                                            <a style="display:none" id="enEspera" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-hourglass"></span> Esperando confirmación Administrador</a>
                                            <a style="display:none" id="cursoPublicado" href="#" class="waves-effect waves-light btn-large left"><span class="glyphicon glyphicon-thumbs-up"></span> Curso publicado</a>
                                        {{/if}}
                                    {{/if}}
                                    </div>

                                {{/if}}
                            {{/if}}

                            {{#if isInRole 'admin'}}
                                {{#if estadoTerminado}}
                                <!-- Si es así, mostramos un botón que diga "Publicar Curso" -->
                            
                                <div class="row">
                                    <a id="publicarCursoAdmin" href="#" class="waves-effect waves-light btn-large left">
                                    <span class="glyphicon glyphicon-ok"></span>
                                        Aceptar y Publicar Curso
                                    </a>   
                                </div>
                                {{else}}

                                    {{#if estadoPublicado}}
                                        <div class="row">
                                            <!-- Si el estado del curso es publicado, mostramos un botón que diga "Curso publicado" -->
                                            
                                            <a id="cursoPublicado" href="#" class="waves-effect waves-light btn-large left">
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                Curso Publicado
                                            </a>
                                        </div>

                                        <div class="row">
                                            <a id="deshabilitarCurso" href="#" class="waves-effect waves-light btn-large left red">
                                                <span class="glyphicon glyphicon-thumbs-down"></span>
                                                Deshabilitar Curso
                                            </a>
                                        </div>

                                    {{/if}}
                                {{/if}}
                            {{/if}}

                            {{#if isInRole 'user'}}
                            <div class="col s12">
                                <div class="row">
                                    {{#if tienePruebayTrabajo}}
                                        <div class="col s8">
                                            <div class="row">
                                                <span id="modulos-completados" class="white-text left"> <b>{{cantidadModulosAprobados}}</b> de <b>{{cantidadModulos}}</b> módulos completados</span>
                                                <div id="barra-curso" class="progress">
                                                    <div class="determinate" style="width: {{porcentajeModulosAprobados}}%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="col s10">
                                            <div class="row">
                                                <span id="modulos-completados" class="white-text left"> <b>{{cantidadModulosAprobados}}</b> de <b>{{cantidadModulos}}</b> módulos completados</span>
                                                <div id="barra-curso" class="progress">
                                                    <div class="determinate" style="width: {{porcentajeModulosAprobados}}%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}
                                    
                                    {{#if tienePruebaFinal}}
                                    <div class="col s2">
                                        <div class="row">
                                            <span id="modulos-completados" class="white-text left">Prueba</span>
                                            <div id="barra-curso" class="progress">
                                                <div class="determinate" style="width: {{porcentajePrueba}}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}

                                    {{#if tieneTrabajoFinal}}
                                    <div class="col s2">
                                        <div class="row">
                                            <span id="modulos-completados" class="white-text left">Trabajo</span>
                                            <div id="barra-curso" class="progress">
                                                <div class="determinate" style="width: {{porcentajeTrabajo}}%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{/if}}

                    </div>
                </div>

            </div>
        </div>

    <!-- Sección tabs -->
		<div id=tabs-pagina-curso class="col s12 white">
            <div id="seccion-tabs" class="row center">

                <div class="container">
                    <ul id="tabs" class="tabs tabs-fixed-width tab-demo">
                        <li class="tab center"><a class="active" href="#test1">Descripción</a></li>
                        <li class="tab center"><a class="active" href="#test2">Contenido</a></li>
                        {{#if isInRole 'profesor'}}
                        <li class="tab center"><a class="active" href="#test3">Evaluaciones</a></li>
                        {{/if}}
                    </ul>
                </div>

            </div>
        </div>
    
        <div class="row grey lighten-3">
            <div class="col s12">

                <!-- Seccion informacion del curso-->
                <div id="test1" class="row center">
                    <div id="container-info" class="container">
                        <p id="texto-titulo2" class="left-align">Acerca de este curso</p>
                        
                        <div class="col s12">

                            <div class="divider"></div>
                            
                            <div id="info-section" class="row">
                                <div class="col s3">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{confDatos}}</p>
                                </div>
                                <div id="info-curso" class="col s9">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">
                                        Nivel del curso: {{nivel}}<br>
                                        Nota de aprobación: {{notaAprobacion}}<br>
                                        Idioma: Español<br>
                                        Módulos: {{cantidadModulos}}<br>
                                        Duración: {{duracionCurso}} horas <br>
                                        <!--
                                        Videos: {{horasVideos}} horas
                                        -->
                                    </p>

                                </div>
                            </div>

                            <div class="divider"></div>

                            <div id="info-section" class="row">
                                <div class="col s3">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{confDescripcion}}</p>
                                </div>
                                <div id="info-curso" class="col s9">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align justificado">
                                        {{descripcionCurso}}
                                    </p>

                                </div>
                            </div>

                            <div class="divider"></div>

                            <div id="info-section" class="row">
                                <div class="col s3">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{confObjetivo}}</p>
                                </div>
                                <div id="info-curso" class="col s9">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align justificado">
                                        {{objetivoCurso}}
                                    </p>

                                </div>
                            </div>

                            <div class="divider"></div>

                            <div id="info-section" class="row">
                                <div class="col s3">
                                    
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{confProfesor}}</p>
                                </div>
                                <div id="info-curso" class="col s9">
                                    
                                    <p id="texto-descripcion3" class="grey-text text-darken-2 left-align"><b>{{autorCurso}}</b></p>
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{cargo}}</p>
                                        
                                    <a href="{{linkedin}}"><p id="texto-descripcion2" class="grey-text text-darken-2 left-align">{{linkedin}}</p></a>
                                    <p id="texto-descripcion2" class="grey-text text-darken-2 left-align justificado">
                                            {{reseña}}
                                    </p>

                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>

                <!-- Seccion contenido del curso -->
                <div id="test2" class="row center">
                    <div id="modulos-curso" class="container">

                        <!-- Si es un profesor y el creador del curso -->
                        {{#if isInRole 'profesor'}}
                        {{#if propioCurso}}
                        <ul id="acordeon-modulos" class="collapsible">
                            
                            <div id="container-modulo" class="collapsible-header">
                                <ul id="header-modulo" class="collection">
                                    <li class="collection-item left-align azulAustral">
                                        <a href="{{pathFor 'crearModuloDesdeCurso'}}">
                                            <div id="row-contenido" class="row">
                                                <div class="col s10">
                    
                                                    <P id="texto-descripcion-modulo" class="white-text">
                                                        Agregar un nuevo Módulo
                                                    </p>
                                                    
                                                    
                                                </div>
                    
                                                <div class="col s2">
                                                    <p id="texto-descripcion-modulo" class="white-text right-align">
                                                        <i id="icono-contenido" class="material-icons">plus_one</i>
                                                    </p>
                                                </div>
                    
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                        {{/if}}
                        {{/if}}
                        
                        {{>listadoModulos}}

                        {{#if tienePruebaFinal}}
                            {{#if isInRole 'user'}}

                                {{#if pruebaAprobada}}
                                <ul id="acordeon-modulos" class="collapsible">  
                                    <div id="container-modulo" class="collapsible-header">
                                        <ul id="header-modulo" class="collection">
                                            <li class="collection-item left-align calipsoFormAustral">
                                                <div id="row-contenido" class="row">
                                                    <div class="col s9">
                        
                                                        <P id="texto-descripcion-modulo" class="white-text">
                                                            Prueba Final del curso<br>
                                                            <b>{{nombreCurso}}</b>
                                                        </p>
                                                        
                                                        
                                                    </div>
                        
                                                    <div class="col s3">
                                                        <p id="texto-descripcion-modulo" class="white-text right-align">
                                                            <i class="material-icons">check</i>
                                                        </p>
                                                    </div>
                        
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                                {{else}}
                                    {{#if modulosAprobados}}
                                    <ul id="acordeon-modulos" class="collapsible">
                                        
                                        <div id="container-modulo" class="collapsible-header">
                                            <ul id="header-modulo" class="collection">
                                                <li class="collection-item left-align white">
                                                    <a href="{{pathFor 'paginaPruebaCurso'}}">
                                                        <div id="row-contenido" class="row">
                                                            <div class="col s9">
                                
                                                                <P id="texto-descripcion-modulo" class="black-text">
                                                                    Prueba Final del curso<br>
                                                                    <b>{{nombreCurso}}</b>
                                                                </p>
                                                                
                                                                
                                                            </div>
                                
                                                            <div class="col s3">
                                                                <p id="texto-descripcion-modulo" class="black-text right-align">
                                                                    <br>
                                                                    {{duracionPrueba}}
                                                                </p>
                                                            </div>
                                
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                    {{else}}
                                    <ul id="acordeon-modulos" class="collapsible " onclick='return false;'>  
                                        <div id="container-modulo" class="collapsible-header">
                                            <ul id="header-modulo" class="collection">
                                                <li class="collection-item left-align blue-grey lighten-3">
                                                    <div id="row-contenido" class="row">
                                                        <div class="col s9">
                            
                                                            <P id="texto-descripcion-modulo" class="grey-text text-darken-2">
                                                                Prueba Final del curso<br>
                                                                <b>{{nombreCurso}}</b>
                                                            </p>
                                                            
                                                            
                                                        </div>
                            
                                                        <div class="col s3">
                                                            <p id="texto-descripcion-modulo" class="grey-text text-darken-2 right-align">
                                                                <i class="material-icons">lock_outline</i>
                                                            </p>
                                                        </div>
                            
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            {{#if isInRole 'profesor'}}
                            <ul id="acordeon-modulos" class="collapsible">  
                                <div id="container-modulo" class="collapsible-header">
                                    <ul id="header-modulo" class="collection">
                                        <li class="collection-item left-align white">
                                            <a href="{{pathFor 'paginaPruebaCurso'}}">
                                                <div id="row-contenido" class="row">
                                                    <div class="col s9">
                        
                                                        <P id="texto-descripcion-modulo" class="black-text">
                                                            Prueba Final del curso<br>
                                                            <b>{{nombreCurso}}</b>
                                                        </p>
                                                        
                                                        
                                                    </div>
                        
                                                    <div class="col s3">
                                                        <p id="texto-descripcion-modulo" class="black-text right-align">
                                                            <br>
                                                            {{duracionPrueba}}
                                                        </p>
                                                    </div>
                        
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            {{/if}}
                        {{/if}}

                        <!-- Trabajo Final -->

                        {{#if tieneTrabajoFinal}}
                            {{#if isInRole 'user'}}

                                {{#if trabajoAprobado}}
                                <ul id="acordeon-modulos" class="collapsible">  
                                    <div id="container-modulo" class="collapsible-header">
                                        <ul id="header-modulo" class="collection">
                                            <li class="collection-item left-align calipsoFormAustral">
                                                <div id="row-contenido" class="row">
                                                    <div class="col s9">
                        
                                                        <P id="texto-descripcion-modulo" class="white-text">
                                                            Trabajo Final del curso<br>
                                                            <b>{{nombreCurso}}</b>
                                                        </p>
                                                        
                                                        
                                                    </div>
                        
                                                    <div class="col s3">
                                                        <p id="texto-descripcion-modulo" class="white-text right-align">
                                                            <i class="material-icons">check</i>
                                                        </p>
                                                    </div>
                        
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                                {{else}}
                                    {{#if modulosAprobados}}
                                    <ul id="acordeon-modulos" class="collapsible">
                                        
                                        <div id="container-modulo" class="collapsible-header">
                                            <ul id="header-modulo" class="collection">
                                                <li class="collection-item left-align white">
                                                    <a href="{{pathFor 'paginaTrabajoFinal'}}">
                                                        <div id="row-contenido" class="row">
                                                            <div class="col s9">
                                
                                                                <P id="texto-descripcion-modulo" class="black-text">
                                                                        Trabajo Final del curso<br>
                                                                    <b>{{nombreCurso}}</b>
                                                                </p>
                                                                
                                                                
                                                            </div>
                                
                                                            <div class="col s3">
                                                                <p id="texto-descripcion-modulo" class="black-text right-align">
                                                                    <br>
                                                                    {{duracionTrabajo}}
                                                                </p>
                                                            </div>
                                
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                    {{else}}
                                    <ul id="acordeon-modulos" class="collapsible " onclick='return false;'>  
                                        <div id="container-modulo" class="collapsible-header">
                                            <ul id="header-modulo" class="collection">
                                                <li class="collection-item left-align blue-grey lighten-3">
                                                    <div id="row-contenido" class="row">
                                                        <div class="col s9">
                            
                                                            <P id="texto-descripcion-modulo" class="grey-text text-darken-2">
                                                                    Trabajo Final del curso<br>
                                                                <b>{{nombreCurso}}</b>
                                                            </p>
                                                            
                                                            
                                                        </div>
                            
                                                        <div class="col s3">
                                                            <p id="texto-descripcion-modulo" class="grey-text text-darken-2 right-align">
                                                                <i class="material-icons">lock_outline</i>
                                                            </p>
                                                        </div>
                            
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </ul>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            {{#if isInRole 'profesor'}}
                            <ul id="acordeon-modulos" class="collapsible">  
                                <div id="container-modulo" class="collapsible-header">
                                    <ul id="header-modulo" class="collection">
                                        <li class="collection-item left-align white">
                                            <a href="{{pathFor 'paginaTrabajoFinal'}}">
                                                <div id="row-contenido" class="row">
                                                    <div class="col s9">
                        
                                                        <P id="texto-descripcion-modulo" class="black-text">
                                                                Trabajo Final del curso<br>
                                                            <b>{{nombreCurso}}</b>
                                                        </p>
                                                        
                                                        
                                                    </div>
                        
                                                    <div class="col s3">
                                                        <p id="texto-descripcion-modulo" class="black-text right-align">
                                                            <br>
                                                            {{duracionTrabajo}}
                                                        </p>
                                                    </div>
                        
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>

                <!-- Seccion evaluaciones-->
                {{#if isInRole 'profesor'}}
                <div id="test3" class="">
                    <div id="container-resultados" class="container">
                        <div class="row">
                            <div id="col-resultados-profesor" class="col s12">
                            {{#if hayEvaluaciones}}
                                {{#each evaluaciones}}

                                {{#if enEspera}}
                                <div id="contenedor-resultados-profesor" class="white">
                                    <div class="row">
                
                                        {{#if esPrueba}}
                                        <p id="bajada-resultado-modulo" class="grey-text text-darken-2 mayusculas"><b>prueba</b></p>
                                        <p id="bajada-prueba-modulo" class="grey-text text-darken-2">Nombre Usuario: {{username}}</p>
                                        <p id="titulo-prueba-modulo" class="grey-text text-darken-2">Prueba Final curso</p>
                                        <p id="bajada-prueba-modulo" class="grey-text text-darken-2">{{totalPreguntas}} preguntas de selección múltiple</p>
                                        <div class="col s5">
                                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Puntaje alumno</b></p>
                                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2"><b>Nota alumno</b></p>
                                        </div>
                                        <div class="col s7">
                                            <div class="row"> 
                                                {{#if aprobado}}
                                                <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{porcentajeObtenido}}%</p>
                                                <p id="bajada-prueba-modulo" class="green-text text-accent-4">{{notaObtenida}}</p>
                                                {{else}}
                                                <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{porcentajeObtenido}}%</p>
                                                <p id="bajada-prueba-modulo" class="red-text text-darken-4">{{notaObtenida}}</p>
                                                {{/if}}
            
                                            </div>
                                        </div>

                                        <p id="bajada-prueba-modulo" class="grey-text text-darken-2">{{totalPreguntasDesarrollo}} preguntas de desarrollo</p>
                                        {{/if}}

                                        {{#if esTrabajo}}
                                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 mayusculas"><b>trabajo</b></p>
                                            <p id="bajada-prueba-modulo" class="grey-text text-darken-2">Nombre Usuario: {{username}}</p>
                                            <p id="titulo-prueba-modulo" class="grey-text text-darken-2">Trabajo Final curso</p>
                                        {{/if}}
            
                                        
                                        <form>
                                            {{#each preguntasDesarrollo}}
                                            <div id="row-input-preguntas" class="row">
                                                <div class="col s9">
                                                    <!-- Pregunta Desarrollo -->
                                                    <p id="pregunta-evaluacion" name="{{enunciado}}" class="enunciado-evaluacion grey-text text-darken-2"><b>Pregunta {{posicion}}</b></p>
                                                    <p id="pregunta-desarrollo{{posicion}}" name="{{enunciado}}" class="prueba-modulo grey-text text-darken-2">{{enunciado}}</p>
                                                    <p id="respuesta-evaluacion" name="{{respuesta}}" class="enunciado-evaluacion grey-text text-darken-2"><b>Respuesta</b></p>
                                                    <p id="respuesta-pregunta{{posicion}}" name="{{respuesta}}" class="prueba-modulo grey-text text-darken-2">{{respuesta}}</p>
                                                    <div class="divider"></div>
                                                </div>
                                                <div class="col s3">
                                                    <!-- div de evaluación-->
                                                    <p>
                                                        <input name="group{{posicion}}" type="radio" id="buena{{posicion}}" class="with-gap" />
                                                        <label for="buena{{posicion}}">Buena</label>
                                                    </p>
                                                    <p>
                                                        <input name="group{{posicion}}" type="radio" id="media{{posicion}}" class="with-gap" />
                                                        <label for="media{{posicion}}">Media</label>
                                                    </p>
                                                    <p>
                                                        <input name="group{{posicion}}" type="radio" id="mala{{posicion}}" class="with-gap" />
                                                        <label for="mala{{posicion}}">Mala</label>
                                                    </p>
                                                </div>
                                            </div>
                                            {{/each}}

                                            {{#each trabajo}}
                                            <div class="col s12">
                                                <div id="row-input" class="row">
                                                    <div id="input-field" class="col s12 left-align">
                                                        <a href="{{this.url}}" download="{{name}}" id="boton-descargar" class="waves-effect waves-light btn-large grey darken-1 white-text hoverable">Visualizar Trabajo</a>
                                                        <div class="input-field inline">
                                                            <input id="nota-trabajo" type="number" step="any" min="1" max="7" placeholder="Ingresar evaluación" class="validate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            <div class="col s12 center-align">
                                                <button id="boton-enviar" type="submit" class="waves-effect waves-light btn-large calipsoFormAustral">Evaluar</button>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                                {{/if}}
                                {{/each}}
                            {{else}}
                            {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });

        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>


</template>