<template name="paginaCertificado">
    <div id="container-certificado" class="container">
        <div class="row">
            <div id="col-resultados" class="col s12">

                {{#if encuestaRealizada}}
                <!-- Certificado -->
                <div id="contenedor-certificado" class="">
                    <div class="row">

                        <p id="bajada-resultado-modulo" class="grey-text text-darken-2 mayusculas center"><b>certificado</b></p>
                        <div class="divider"></div>
                        <p id="bajada-resultado-certificado" class="grey-text text-black center"><b>fecha de aprobación: {{fechaAprobacion}}</b></p>

                        <!--
                            <p id="titulo-prueba-modulo" class="grey-text text-darken-2">CERTIFICADO</p>
                        -->
                        <div class="texto-certificado-inicio">
                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">Se otorga el presente diploma a:</p>
                            <p id="bajada-usuario-certificado" class="black-text center"><b>{{nombreUsuario}}</b></p>
                        </div>

                        <div class="texto-certificado">
                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">Por su participación en el curso denominado:</p>    
                            <p id="bajada-usuario-certificado" class="black-text center"><b>{{nombreCurso}}</b></p>
                        </div>

                        <div class="texto-certificado">
                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">Instancia formativa que implicó <b>{{timer}}</b> horas de formación</p>
                        </div>

                        <div class="texto-certificado-final">
                            <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">Impartido por el Organismo Técnico de Capacitación FormAustral.</p>
                        </div>

                        
                        
                        <div class="col s6 container">
                            <div class="row center">
                                
                                <p id="bajada-resultado-modulo" class="grey-text text-black center"><b>FIRMA</b></p>
                                <div id="divider-certificado" class="divider"></div>
                                <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">{{nombreUsuario}}</p>
                                <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">{{cargo}}</p>
                                <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">{{institucion}}</p>
                                
                                
                            </div>
                        </div>
                        
                        <div class="col s6 container">
                            <div class="row center">
                                
                                <p id="bajada-resultado-modulo" class="grey-text text-black center"><b>FIRMA</b></p>
                                <div id="divider-certificado" class="divider"></div>
                                <!--
                                    <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">{{nombreUsuario}}</p>
                                    <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">{{cargo}}</p>
                                -->
                                <p id="bajada-resultado-modulo" class="grey-text text-darken-2 center">OTEC FormAustral E.I.R.L.</p>
                                
                            </div>
                        </div>

                        <div class="col s12">
                            <p id="bajada-resultado-certificado" class="grey-text text-black center"><b>Puerto Montt</b></p>
                        </div>

                    </div>
                </div>

                <div class="col s12">
                    <div class="row center">
                        <a id="boton-volver" class="waves-effect waves-light btn-large calipsoFormAustral">Volver</a>
                        <a id="boton-descargar" class="waves-effect waves-light btn-large calipsoFormAustral">Descargar</a>
                    </div>
                </div>

                {{else}}

                <div class="col s12">
                    <a id="realizarEncuesta" href="https://forms.gle/3idNbFY7VpeRb1B28" target="_blank">
                        <p name="encuesta" id="bajada-prueba-modulo" class="grey-text text-darken-2">
                            Para generar el certificado necesitas realizar la encuesta de satisfacción.
                        </p>
                    </a>
                </div>

                <div id="div-confirmacion" style="display: none">

                    <div class="col s12">
                        <div class="col s1">
                            <p>
                                <input type="checkbox" id="checkbox-confirmacion" />
                                <label for="checkbox-confirmacion"></label>
                            </p>
                        </div>
                        
                        <div class="col s11">
                            <p name="confirmacion" id="bajada-prueba-modulo" class="grey-text text-darken-2"> He realizado la encuesta.
                            </p>
                        </div>
                    </div>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
</template>