<template name="paginaBienvenida">
    <div id="pagina-bienvenida" class="paginaBienvenida grey lighten-3">
        <div id="contenedor-video-bienvenida" class="row">
            <div class="col s12 m7">
                {{#if tieneVideo}}
                <div class="video-container">
                    <iframe width="853" height="480" src="{{link}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {{else}}
                    {{#each imagenes}}
                    <div class="col s12 center">
                        <img class="responsive-img" src="{{this.url}}">
                    </div>
                    {{/each}}
                {{/if}}
            </div>
            <div id="contenedor-texto-bienvenida" class="col s12 m5">
                <div class="row">
                    <p id="bajada-bienvenida"><b>{{nombreUsuario}}</b> Bienvenido al Curso</p>
                    <p id="titulo-bienvenida"><b>{{nombreCurso}}</b></p>

                    <div id="card-bienvenida" class="card">
                        <div class="card-content">
                            <p id="texto-bienvenida" class="flow-text justificado">{{mensajeBienvenida}}</p>
                        </div>
                    </div>

                    <form>
                        <a id="primerModulo" style="display:none">{{primerModulo}}</a>
                        
                        <a href="{{pathFor 'paginaCurso'}}" id="boton-bienvenida" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Información</a>
                        {{#if isInRole 'user'}}
                        <button href="#" id="boton-realizar-curso" type="submit" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Iniciar Curso</button>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>