body {
    background: #f5f5f5;
    color: #443C3C;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

html, .main {
    background-color: white;
}

html, body, #contenedor-body, .main {
    height: 97.5%;
}

#pagina-bienvenida, #contenedor-titulo-modulo, #paginaModulo, #contenedor-pagina-modulo, #contenedor-mapa, 
#contenedor-botones {
    height: 100%;
}

#contenedor-mapa, #sidenav-contenedor-listado-modulo, #contenedor-comentarios {
    overflow-y: auto;
}

#boton-reproducir {
    margin-right: 1%;
}

.navbar-header li{
    display: inline-block;
}

.navbar-header{
    padding-left: 0;
    margin-bottom: 0;
}

.navbar{
    max-width: 70%;
    background-color: #FFFFFF;
    margin-top: 1%;
}

.navbar-brand{
    color: #443c3c;
    font-size: 100%;
    font-weight: bold;
    
}

.renavbar{
    border-right: solid;
    border-width: 1px;
    border-color: #443c3c;
}

.fondo-blanco{
    background-color: #fff;
}

.mayusculas{
    text-transform: uppercase;
}

nav ul li a{
	color: white;
}

.minusculas{
    text-transform: lowercase;
}

.negrita{
    font-weight: bold;
}

.justificado{
    text-align: justify;
}

.descripcion-item{
    line-height: 2;
}

/* Estilos texto */
.estilo-texto1 {
    width: 100%;
    color: black;
    font-size: 169%;
    font-weight: 350;
}

.estilo-texto2 {
    width: 100%;
    color: black;
    font-size: 169%;
    font-weight: 450;
}

.estilo-texto-header {
    font-size: 130%;
    font-weight: 402;
    color: white
}

.estilo-texto-boton {
    margin: 0px 0;
    color: white;
    font-size: 169%;
    font-weight: 300;
}

#form-login, #form-contact {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card.horizontal .card-image img {
    max-width: 400px;
}

#tituloArea {
    margin-top: 0px;
}

#cardTitulo {
    font-size: 180%;
    font-weight: 410;
}

#cardDescripcion {
    line-height: 125%;
}

#cardCurso{
    color: black;
}

#cardCurso:hover {
    text-decoration: none;
}

#rowCard {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.azulAustral {
    background-color:#00212B!important;
}

.a:hover, a:focus {
    text-decoration: none;
}

#form-add-product, #form-add-service, #buttons-add-product, #buttons-add-service {
    padding-top: 10%;
    padding-bottom: 5%;
}

#search-section, #search2-section, #search3-section, #search4-section, #section-descripcion, #section-informacion {
    padding-top: 5%;
    padding-bottom: 5%;
}

#listado-area {
    margin-top: 25%;
}

#titulo-tabs {
    padding-top: 5%;
    padding-bottom: 0%;
}

#seccion-tabs{
    margin-bottom: 0px;
}

#search-categoria-section {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 4%;
}

#categorias-menu {
    margin: 0px;
}

#search5-section {
    padding-top: 5%;
    padding-bottom: 0%;
}

#label-view {
    padding-bottom: 0px;
}

#section-producto, #section-servicio {
    padding-top: 0%;
    padding-bottom: 0%;
}

#section-titulo {
    padding-top: 4%;
    padding-bottom: 4%;
}

#row-producto {
    margin-bottom: 0;
}

#informacion {
    text-align: left;
}

#label-search {
    font-size: 219%;
    font-weight: 500;
    color: #380e3a;
}

#label-search2 {
    font-size: 219%;
    font-weight: 500;
    color: white;
}

#label-search3 {
    font-size: 245%;
    font-weight: 500;
    color: #380e3a;
}

#label-membresia {
    padding-top: 67%;
    padding-bottom: 5%;
    font-size: 245%;
    font-weight: 500;
    color: #380e3a;
}

#texto-search {
    width: 100%;
    color: black;
    font-size: 215%;
    font-weight: 100;
    margin: 5% 0%;
}

#titulo-prueba-modulo {
    width: 100%;
    color: black;
    font-size: 215%;
    font-weight: 100;
    margin: 1% 0%;
}

#bajada-prueba-modulo {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 100;
    margin-bottom: 5%;
}

#divider-certificado {
    width: 90%;
}

.texto-certificado-inicio {
    padding-top: 10%;
    padding-bottom: 2%;
    line-height: 95%;
}

.texto-certificado-final {
    padding-top: 2%;
    padding-bottom: 10%;
    line-height: 95%;
}

.texto-certificado {
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 95%;
}

#bajada-resultado-certificado {
    width: 100%;
    color: grey;
    font-size: 120%;
    font-weight: 100;
}

#bajada-resultado-modulo {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 100;
}

#bajada-usuario-certificado {
    width: 100%;
    color: black;
    font-size: 150%;
    font-weight: 100;
}

#texto-resultado-modulo {
    width: 100%;
    color: black;
    font-size: 120%;
    font-weight: 100;
    margin-bottom: 5%;
}

.prueba-modulo {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 100;
    margin-bottom: 5%;
}

.enunciado-evaluacion {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 100;
    margin-bottom: 0%;
}

#texto-titulo-definir {
    width: 100%;
    color: black;
    font-size: 215%;
    font-weight: 100;
    margin-top: 5%;
}

#texto-bajada {
    width: 100%;
    color: black;
    font-size: 215%;
    font-weight: 100;
    margin-bottom: 5%;
}

#modulos-completados {
    line-height: 40px;
    font-size: 150%;
    font-weight: 100;
}

#modulos-curso {
    padding-top: 2%;
    width: 50%;
}

@media (max-width: 1050px){
    #modulos-curso {
        padding-top: 2%;
        width: 99%;
    }
}

@media (max-width: 1450px){
    #addPdf, #addVideo, #addAudio {
        font-size: 12px!important;
        padding: 0px 25px;
    }
}



#titulo-imagen {
    padding: 20px 0;
}

#descripcion-comentario {
    width: 100%;
    color: black;
    font-size: 169%;
    font-weight: 300;
    margin-top: 0%;
}

#texto-titulo2 {
    width: 100%;
    color: black;
    font-size: 200%;
    font-weight: 410;
    float: left;
}

#container-info {
    padding: 3% 5%;
}

#texto-descripcion {
    width: 100%;
    color: black;
    font-size: 169%;
    font-weight: 300;
    text-align: justify;
    line-height: 22px;
}

#texto-descripcion2 {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 250;
    line-height: 22px;
}

#texto-descripcion-modulo {
    width: 100%;
    color: black;
    font-size: 130%;
    font-weight: 250;
    line-height: 35px;
    margin: 0;
}

#texto-descripcion3 {
    width: 100%;
    color: black;
    font-size: 169%;
    font-weight: 300;
    text-align: justify;
    line-height: 22px;
}

#header-modulo, #numero-modulo {
    width: 100%;
}

#numero-modulo {
    font-size: 115%;
    padding-top: 20px;
    padding-right: 20px;
}

#row-contenido {
    margin: 0;
}

#container-modulo {
    padding: 0;
}

#icono-contenido {
    vertical-align: middle;
}

#texto-contenido {
    margin: 0;
}

#texto-contenido2 {
    padding: 3% 3% 0 3%;
    margin-bottom: 0;
}

#texto-contenido3 {
    font-size: 150%;
    height: 545px;
}

#contenedor-contenido {
    padding: 20px 30px;
}

#tabs {
    overflow: hidden;
}

#info-curso {
    line-height: 15px;
}

#info-section {
    margin-top: 3%;
}

#contenedor-video {
    padding: 0;
}

#contenedor-video-bienvenida {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

#contenedor-texto-bienvenida {
    padding-left: 5%;
    padding-top: 0%;
    padding-right: 7%;
}

#contenedor-titulo-modulo {
    padding: 0%;
    border-right: 1px solid #e0e0e0;
}

#contenedor-titulo-modulo2 {
    border-bottom: 1px solid #e0e0e0;
}

#contenedor-titulo-modulo3, #contenedor-listado-modulos {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 8%;
    padding-right: 5%;
}

#duracion-contenidos {
    padding: 0;
}

#sidenav-contenedor-listado-modulos {
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 0%;
}

#sidenav-row-contenido, #sidenav-texto-descripcion-modulo, #row-pregunta {
    margin-bottom: 0;
}

#sidenav-texto-comentario {
    margin-bottom: 0;
    font-size: 16px;
}

#boton-comentarios {
    margin-bottom: 10%;
}

#sidenav-contenedor-titulo {
    padding: 6%;
    border-left: 5px solid black;
}

#sidenav-contenedor-titulo-contenido {
    padding: 6%;
}

#sidenav-contenedor-notificaciones {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#sidenav-contenedor-contenido-activo {
    border-left: 5px solid black;
}

#sidenav-texto-descripcion-modulo:hover, #botonPaginaModulo {
    text-decoration: none;
}

#contenedor-listado-modulos2 {
    padding-left: 5%;
}

#titulo-modulo {
    width: 100%;
    color: black;
    font-size: 225%;
    font-weight: 300;
}

#texto-1, #texto-2, #texto-3 {
    width: 100%;
    color: black;
    font-size: 140%;
    font-weight: 300;
}

#titulo-bienvenida {
    width: 100%;
    color: black;
    font-size: 220%;
    font-weight: 300;
    margin-bottom: 10px;
}

#titulo-preguntas-contenido {
    width: 100%;
    color: black;
    font-size: 220%;
    font-weight: 300;
    margin-bottom: 30px;
}

#bajada-bienvenida {
    width: 100%;
    color: black;
    font-size: 190%;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 2%;
}

#texto-bienvenida {
    font-size: 130%;
}

#card-bienvenida {
    margin-bottom: 30px;
}

#boton-bienvenida, #boton-atras {
    margin-right: 3%;
    width: 47%;
}

#boton-realizar-curso, #boton-siguiente {
    width: 47%;
}

#boton-bienvenida:hover, #boton-realizar-curso:hover {
    text-decoration: none;
}

.breadcrumb:before {
    color: black;
}

#contenedor-mapa {
    padding: 2%;
}

#contenedor-mapa2 {
    padding: 12% 3%;
    margin-bottom: 5%;
}

#contenedor-botones {
    padding: 2%;
}

.ribbon {
    width: 120px;
    height: 0px;
    border-left: 50px solid white;
    border-right: 35px solid white;
    border-bottom: 50px solid transparent;
}

#form-comentario {
    margin: 10% 0%;
}

#form-area-comentario {
    margin-bottom: 5%;
}

#publicarComentario, #soporte {
    width: 99%;
}

#resultadosModulo {
    width: 100%;
}

#contenedor-comentario {
    margin: 0;
}

#texto-comentario {
    font-size: 130%;
}

#texto-pregunta {
    font-size: 130%;
    margin: 0;
}


#contenedor-comentario {
    border: none;
}

#agregar-video, #agregar-audio, #agregar-ppt {
    width: 30%;
    padding: 0;
    margin-bottom: 5%;
}

#video-contenido {
    margin-bottom: 3%;
}

#audio-contenido {
    width: 100%;
}

#boton-descargar {
    margin: 2% 0%;
}

#tooltip {
    padding: 4% 4%;
    border-radius: 5px;
}

#boton-mapa {
    margin: 1%;
}

#contenedor-titulo-modulo {
    overflow-y: auto;
}

.moradoFormAustral {
    background-color: #a95094!important;
}

.moradoOscuroFormAustral {
    background-color: #5C234F!important;
}

.beigeFormAustral {
    background-color: #B6A96B!important;
}

.calipsoFormAustral {
    background-color: #2C7675!important;
}

.turquesaFormAustral {
    background-color: #68F5F3!important;
}

#boton-preguntas {
    margin: 5% 1%;
}

#boton-listado-preguntas, #boton-definir-modulo {
    margin: 5% 0%;
    width: 100%;
}

#logo-inicial {
    width: 30%;
}

#sticky {
    position: sticky;
    top: 10%;
}

.letra-timer {
    font-size: 25px;
}

/*
-----------------------
*/

#fecha-comentario {
    width: 100%;
    color: darkgray;
    font-size: 100%;
    font-weight: 300;
    margin-bottom: 0%;
}

#label-titulo1, #label-titulo2, #label-titulo3 {
    font-size: 179%;
    font-weight: 500;
    color: #380e3a;
}

#container-proveedor, #container-usuario {
    width: 75%;
    margin-left: 12%;
}

#imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6, #proveedor, #comprador {
    width: 45%;
}

#imagen-pagina-curso {
    max-width: 400px;
    padding-top: 5%;
    padding-bottom: 5%;
}

br {
    margin-bottom:10px;
}

#imagen-bienvenida {
    max-width: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#boton-imagen {
    margin-right: 0px;
}

#input-imagen {
    padding-left: 0px;
}

#texto-proveedor, #texto-servicios {
    font-size: 219%;
    font-weight: 500;
    color: black;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

#label-search4 {
    font-size: 219%;
    font-weight: 500;
    color: #380e3a;
}

#label-search5 {
    font-size: 140%;
    font-weight: 500;
    color: white;
}

.botonIncluyes {
    border: none;
    padding: 18px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    /*  ------- 
    text-decoration-color: white;
    font-size: 169%;
    font-weight: 300;
    */
}

#acordeon-modulos {
    margin-top: 0;
}

#acordeon-body {
    padding: 0;
}

#section {
    margin-bottom: 0px;
}

#label-titulo-productos, #label-titulo-servicios {
    font-size: 260%;
    font-weight: 500;
    color: #380e3a;
    margin: 0;
    padding-bottom: 0;
}

#nav-mobile {
    width: 100%;
}

#barra-curso {
    width: 98%;
    height: 15px;
    border-radius: 5px;
}

.progress{
    background-color: #f5f5f5;
}

.progress .determinate{
    background-color: #2C7675;
}

#form {
    margin-top: 4px;
}

/* Login */

@media (min-width: 650px){
    #contenedor-ingreso1 {
        width: 50%;
    }

    #contenedor-ingreso2 {
        width: 70%;
        margin-bottom: 5%;
    }

    #contenedor-ingreso-notificaciones {
        width: 100%;
        margin-bottom: 5%;
    }

    #contenedor-listado {
        width: 90%;
        margin-bottom: 5%;
    }

    #contenedor-listado-usuarios {
        width: 100%;
        margin-bottom: 5%;
        padding: 0;
    }

    #contenedor-inscripcion {
        width: 50%;
    }

    #contenedor-tabla-maestra {
        width: 90%;
    }

    #form-ingreso {
        padding-bottom: 15%;
    }
}

#contenedor-ingreso1 {
    padding-top: 3%;
    padding-bottom: 10%
}

#contenedor-ingreso2 {
    margin-top: 3%;
}

#contenedor-ingreso-desarrollo {
    margin-top: 3%;
}

#contenedor-listado, #contenedor-listado-usuarios {
    margin-top: 3%;
}

#contenedor-inscripcion {
    padding-top: 3%;
    padding-bottom: 0%
}

#header-contenido {
    padding-top: 3%;
    padding-bottom: 0%
}

#row-input {
    margin-left: 0%;
    margin-right: 0%;
}

#row-input-preguntas {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
}

#input-field {
    padding-left: 0%;
}

#input-soporte {
    padding-left: 0%;
    padding-right: 0%;
}

#label-input {
    left: 0%;
    padding-left: 0%;
}

.moradoIncluyes {
    background-color: #380e3a!important;
}

.amarilloIncluyes {
    background-color: #fdb713!important;
}

.grisAustralForm {
    background-color: #424242!important;
}

.tabs .tab a {
    color: #380e3a!important;
}

.tabs .indicator {
    background-color: #380e3a!important;
}

#col-resultados {
    margin-top: 10%;
}

#col-resultados-profesor {
    margin-top: 3%;
}

@media (min-width: 1300px){
    #container-resultados {
        width: 60%;
    }

    #container-certificado {
        width: 70%;
    }
}

#contenedor-certificado {
    padding-top: 3%;
    padding-left: 12%;
    padding-right: 12%;
    border: 1px solid #3b3b3b;
    background-image: url("/imagenes/NuevoLogo.png");
    background-size: cover;
}

#contenedor-resultados {
    padding-top: 10%;
    padding-left: 12%;
    padding-right: 12%;
    border: 1px solid #e0e0e0;
}

#contenedor-resultados-profesor {
    padding-top: 5%;
    padding-left: 12%;
    padding-right: 12%;
    border: 1px solid #e0e0e0;
    margin-bottom: 5%;
}

#boton-resultados {
    margin: 3%;
}

.linea-progreso {
    height: 5px;
    /* margin-top: 30px; */
    position: relative;
    top: -37px;
    left: 64%;
    width: 85%;
    background-color: #9c9c9c;
    vertical-align: middle;
}

#row-mapa {
    margin-bottom: 0px;
}

.link-nodo-actual:hover, .link-nodo-actual:focus {
    color: #B6A96B;
}

.link-nodo-aprobado {
    color: #2C7675;
}

.link-nodo-aprobado:hover, .link-nodo-aprobado:focus {
    color: #B6A96B;
}

.container-timer {
    padding: 5%;
}

.reloj {
    float: left;
	font-size: 40px;
	/*font-family: Courier,sans-serif;*/
	color: #363431;
}

#tabla1 {
    margin-bottom: 20px;
}

#tabla2, #tablaPrueba, #tablaUsuarios, #tablaProfesores, #tablaInscripcion, #tablaMaestra {
    margin-bottom: 50px;
}

#cantidadPreguntas {
    width: 10%;
}

@media (min-width: 1290px){


}



/* Registro */


/* -------- Fin CSS Incluyes ------- */

.figura {
    width: 0px;
    height: 120px;
    border-left: 50px solid deepskyblue;
    border-right: 50px solid deepskyblue;
    border-bottom: 35px solid transparent;
    transform: rotate(90deg);
}

.brand {
    position:relative;
    margin-top: -31px;
}

/*
.formArea, .formEdicionArea, .formCrearProfesor, .formNuevoUsuario, .formUsuario, .formCrearCurso, .formCrearModulo,
.formCrearContenido, .formCrearTest, .listadoAreas, .miModal, .paginaModulo, .formTest, .paginaCurso,
.edicionCurso, .edicionModulo, .crearMetas, .listadoProfesores, .listadoMetas, .formPrueba, .perfilUsuario,
.contenedor, .formEdicionTest, .formInscribirUsuario {
    padding: 40px 40px 40px 40px;
    background-color: white;
}*/

.itemMeta {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background-color: white;
}

h1, h3 {
    letter-spacing: -3;
    font-weight: bolder;
    font-weight: 700;
}

#crearComentario, #descripcion, #objetivoCurso #descripcionCurso, #mensajeBienvenida #texto {
    resize: none;
}

.headerCurso {
    font-size: 18px;
    color: #00212B;
    background-color: lightgrey;
    padding: 20px;
    margin-top: 10px;
    /*
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    */
}

.headerCurso a {
    color: #00212B;
}

.bodyCurso, .bodyPre, .bodyNotaAprobacion, .bodyObjetivo {
    background-color: azure;
    padding: 10px;
    margin-bottom: 5px;
}

.bodyEdicion {
    background-color: azure;
    padding: 10px;
    margin-bottom: 15px;
}

.autorModulo {
    float: right;
}

.itemComentario {
    background-color: lightgray;
    margin: 4px;
    padding: 16px;
    padding-top: 10px;
}

.autor {
    font-size: 20px;
    font-weight: bolder;
    font-weight: 800;
    letter-spacing: -1px;
}

.date {
    font-size: 15px;
}

#texto, #textoMostrado {
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
}

.texto {
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    border-left: 6px solid grey;
}

.btn-group {
    position: relative;
    z-index: 0;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.botonModulo {
    background-color: cadetblue;
    border: 2px solid cadetblue;
    color: white;
    width: 128px;
    height: 73px;
    /*
    padding-top: 13px;
    padding-bottom: 13px;
    */
    overflow: hidden;
    margin-top: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

#botonPruebaFinal {
    background-color: #00212B;
    border: 2px solid #00212B;
    color: darkgray;
}

#crearModulo {
    background-color: darkslategray;
    border: 2px solid darkslategray;
    color: white;
}

#crearModulo:hover {
    background-color: white;
    color: black;
}

#botonPruebaFinal:hover {
    background-color: white;
    color: black;
}

.botonMeta {
    background-color: #00212B;
    border: 2px solid #00212B;
    color: darkgray;
    width: 300px;
    height: 200px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 4px;
    margin-bottom: 10px;
    overflow: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.botonModulo:hover {
    background-color: white;
    color: black;
}

.botonMeta:hover {
    background-color: white;
    color: black;
}

.divBotonTest {
    margin: auto;
    width: 15%;
}

#botonTest {
    background-color: #00212B;
    color: white;
    width: 140px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.deshabilitado {
    opacity: 0.5;
    cursor: inherit;
}

.deshabilitado:hover {
    background-color: cadetblue;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

.glyphicon-minus {
    margin-left: -3px;
}

#log-salir {
    color: black;
}

#log-perfil {
    color: black;
}

.divider {
    text-decoration: none;
}

.area-de {
    color: darkgray;
}

.titulo-area {
    color: cadetblue;
}


.panel-title {
    position: absolute;
}

#checkModulo {
    margin-top: 6px;
    right: 2px;
    position: absolute;
    color: green;
}

/*
.glyphicon-check {
    margin-top: 6px;
    right: 2px;
    position: absolute;
    color: green;
}
*/

.prerequisitosCurso {
    padding: 10px;
}

#okPrerequisito {
    color: green;
}

.cursoAprobado {
    color: green;
    margin-left: 5px;
    font-size: 18px;
}

.metaAprobada {
    color: green;
    font-size: 18px;
}

.progress {
    width: 90%;
}

.curso {
    width: 100%;
    margin-bottom: 40px;
}

.boton {
    margin-top: -52px;
    float: right;
}

#publicarCurso, #publicarCursoAdmin {
    background-color: #00212B;
    color: white;
}

#enEspera {
    background-color: floralwhite;
    color: black;
}

#cursoPublicado {
    background-color: green;
    color: white;
}

.bloque-ayuda {
    color: red;
}

.form-control {
    width: 100%;
}

#botones {
    margin-top: 15px;
}

#titulo-contenido {
    margin: auto;
}

#video {
    display: block;
    margin: auto;
}

.videoResponsivo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoResponsivo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#textoMostrado {
    border: 1px solid cadetblue;
    padding: 20px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#editar-modulo, #editarCurso, #editar-test {
    float: right;
}

h1 {
    text-align: center;
}

hr {
    color: black;
}

div {
    z-index: 0;
}

#pregunta {
    z-index: 0;
}

.input-group {
    padding-top: 4px;
}

#titulo-test {
    text-align: center;
    margin: auto;
}

#titulo-prueba {
    text-align: center;
    margin: auto;
}

#preguntaFinal {
    z-index: 0;
    background-color: #00212B;
}

#estado {
    color: floralwhite;
    font-size: 15px;
}

#preguntas {
    z-index: 0;
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.errores {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 100px;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
















