<template name="crearComentario">
    <form id="form-comentario" class="formComentario center">
        <div id="form-area-comentario" class="form-group {{claseError 'texto'}}">
            <textArea name="crearComentario" id="crearComentario" rows="5" placeholder="Escribe un comentario..." class="form-control"></textArea>
            <span class="bloque-ayuda">{{mensajeError 'texto'}}</span>
        </div>
        
        <button type="submit" onclick="enviarEmail()" id="publicarComentario" value="publicar" class="waves-effect waves-light btn-large moradoFormAustral white-text hoverable"><span class="glyphicon glyphicon-comment"></span> Comentar</button>
    </form>

    <p id="demoComentario"></p>
    
    <script>
        function enviarEmail() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demoComentario").innerHTML = this.responseText; //puedes hacer lo que quieras con la respuesta.
                }
            };
            xhttp.open("POST", "http://www.primedevelopers.cl/1pruebas/email.php", true); //true si espera la respuesta, false si solamente envía y no se queda a la espera.
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            //Modificar los parametros con los datos que deben ser enviados en el correo.
            xhttp.send("titulo=Comentario en FormAustral&destinatario={{emailDestinatario}}&mensaje=Han comentado en tu curso:{{comentario}}"); //envía los datos
        }
    </script>
</template>

