<template name="editarComentario">
        <form class="formAgregarPregunta">
            <div class="row">
                <div id="form" class="form white">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Eliminar el comentario: <b>{{texto}}</b>
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
    
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </form>
    </template>
    