<template name="itemComentario">

    <!-- nuevo display de comentarios -->
    <ul class="collection">
        <li id="sidenav-contenedor-titulo-contenido" class="collection-item">
            <a id="botonPaginaModulo" href="#">
                <div id="sidenav-row-contenido" class="row">
                    <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">
                        <b>{{autorComentario}}</b><span class="grey-text"> | {{fecha}}</span>

                        {{#if isInRole 'user'}}
                        {{else}}
                        <span id="comentarioId" class="hidden">{{_id}}</span>
                        <a href="{{pathFor 'editarComentario'}}" class="right">Eliminar</a>
                        {{/if}}
                    </p>
                    {{#if isInRole 'user'}}
                    {{else}}
                    <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">
                        <span class="grey-text">{{emailComentario}}</span>
                    </p>
                    {{/if}}
                    <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                        <!--Clicked by accident. Don't regret a damn thing.-->
                        {{texto}}
                    </p>
                </div>
            </a>
        </li>
    </ul>

</template>