<template name="listadoComentarios">
    <form class="formAgregarPregunta">
        <div class="row">
            <div id="form" class="form white">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Comentarios del contenido: <b>{{tituloContenido}}</b>
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                        {{#each comentarios}}
                            {{> itemComentario}}
                        {{/each}}

                        {{> crearComentario}}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</template>
