<template name="crearProfesor">

    <!-- Sección descripción -->
    <div id=titulo-tabs class="col s12 white">
        <div id="seccion-tabs" class="row center">

            <div id="" class="container">
                <h2 id="label-search" class="label_style" tabindex="15">Cuentas de Profesor</h2>
                <!--<p id="texto-descripcion" class="" tabindex="16"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur augue lectus, porttitor non elit ac, porta hendrerit leo. Ut quam.</p>-->
            </div>

            <div class="container">
                <ul class="tabs tabs-fixed-width tab-demo">
                    <li class="tab center"><a class="active" href="#crear">Crear Profesor</a></li>
                    <li class="tab center"><a class="active" href="#ver">Ver Profesores</a></li>
                </ul>
            </div>
            
            <!--<h2 id="label-search" class="label_style" tabindex="15">Descripción del Servicio</h2>-->

        </div>
    </div>
    
    <!-- Nuevo formulario de creación de profesor -->
    <div id="crear" class="col s12">
    <form class="formCrearProfesor">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container">
                        <p id="texto-search" class=""> Creación de cuenta de Profesor
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'username'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label>Nombre de Usuario</label>
                                    <input name="usuario" id="usuario" type="text" value="" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'username'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Nombre completo</label>
                                    <input name="nombre" id="nombre" type="text" value="" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'fullname'}}</span>
                                </div>
                            </div>
                            
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="control-label">Correo electrónico</label>
                                    <input name="email" id="email" type="email" value="" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'email'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Cargo</label>
                                    <input name="cargo" id="cargo" type="text" value="" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'cargo'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Reseña</p>
                                    <textArea name="descripcion" id="descripcion" value="" rows="10" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'descripcion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Linkedin</p>
                                    <input name="linkedin" id="linkedin" type="text" value="" placeholder="https://www.linkedin.com/in/juanperez" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'linkedin'}}</span>
                                </div>
                            </div>    

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Contraseña</label>
                                    <input name="contraseña" id="contraseña" type="password" value="" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label>Repita Contraseña</label>
                                    <input name="verificacion" id="verificacion" type="password" value="" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>
                            
                            <button type="submit" id="registro" class="waves-effect waves-light btn-large calipsoFormAustral">Añadir Profesor</button>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div id="ver" class="col s12">
        <div class="row">
            <div id="contenedor-inscripcion" class="container">
                <p id="texto-search" class="">Profesores creados
                </p>
        
                <div class="divider"></div>

                <div id="contenedor-listado" class="container center">
                    
                    <table id=tablaProfesores class="responsive-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Cargo</th>
                                <th>Curso Asignado</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {{#each profesores}}
                            <tr>
                                <td>{{nombreUsuario}}</td>
                                <td>
                                    {{#each correo}}
                                        {{nombreCorreo}}<br>
                                    {{/each}}
                                </td>
                                <td>{{cargo}}</td>
                                <td>
                                    {{#each cursoAsignado}}
                                        {{nombreCursoAsignado}}<br>
                                    {{/each}}
                                </td>
                                <td><a href="{{pathFor 'editarProfesor'}}">Editar</a></td>
                            </tr>
                            {{/each}}
                                    
                        </tbody>
                    </table>

                    <button id="exportar" class="waves-effect waves-light btn-large right calipsoFormAustral" onclick="exportTableToExcel('tablaProfesores')">Exportar a Excel</button>
                            
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>

<script>
        function exportTableToExcel(tableID, filename = ''){
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
            
            // Create download link element
            downloadLink = document.createElement("a");
            
            document.body.appendChild(downloadLink);
            
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            
                // Setting the file name
                downloadLink.download = filename;
                
                //triggering the function
                downloadLink.click();
            }
        }
    </script>

</template>