<template name="editarProfesor">
    <form class="formEditarProfesor">
        <div class="row">
            <div id="form" class="form white formEditarProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Editar Profesor: <b>{{username}}</b></p>
                        <!--
                        <p id="texto-search" class=""> Ingresa a DemoCursos</p>
                        -->
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'username'}}">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Nombre de Usuario</label>
                                    <input name="usuario" id="usuario" type="text" value="{{username}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'username'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Nombre completo</label>
                                    <input name="nombre" id="nombre" type="text" value="{{profile.fullname}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'fullname'}}</span>
                                </div>
                            </div>
                            
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active control-label">Correo electrónico</label>
                                    <input name="email" id="email" type="email" value="{{emails.[0].address}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'email'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Cargo</label>
                                    <input name="cargo" id="cargo" type="text" value="{{profile.cargo}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'cargo'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Reseña</p>
                                    <textArea name="descripcion" id="descripcion" value="{{profile.descripcion}}" rows="10" class="form-control"></textArea>
                                    <span class="bloque-ayuda">{{mensajeError 'descripcion'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Linkedin</label>
                                    <input name="linkedin" id="linkedin" type="text" value="{{profile.linkedin}}" placeholder="https://www.linkedin.com/in/juanperez" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'linkedin'}}</span>
                                </div>
                            </div>    

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Contraseña</label>
                                    <input name="contraseña" id="contraseña" type="password" value="{{password}}" class="validate">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <label class="active">Repita Contraseña</label>
                                    <input name="verificacion" id="verificacion" type="password" value="{{password}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'password'}}</span>
                                </div>
                            </div>
                            
                            <button type="submit" id="registro" class="waves-effect waves-light btn-large calipsoFormAustral">Aceptar</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>