<template name="itemProfesor">
    <div class="itemProfesor">
        <h2 class="usuario">{{username}}</h2>
        <h2 class="nombre">{{profile.fullname}}</h2>
        <h2 class="contraseña">{{password}}</h2>
    </div>
</template>