<template name="listadoProfesores">
    <div class="listadoProfesores">
        Cantidad Profesores: {{contadorProfesores}}
        
        {{#each profesores}}
            {{>itemProfesor}}
        {{/each}}
    </div>
</template>