<template name="historialNotificaciones">
    <form class="formAgregarPregunta">
        <div class="row">
            <div id="form" class="form white">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Historial de Notificaciones
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso-notificaciones" class="container center">

                        {{#each notificaciones}}
                            {{> itemHistorial}}
                        {{/each}}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</template>
    
<template name="itemHistorial">
    <!-- nuevo display de notificaciones -->
    <ul class="collection">
            <li id="sidenav-contenedor-notificaciones" class="collection-item">
                
                <a id="botonPaginaModulo" href="#">
                    <div id="sidenav-row-contenido" class="row">
                        <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">
                            <b>{{fechaNotificacion}}</b><span class="grey-text"> | {{tipo}}</span>
                        </p>
                        {{#if cursoCreado}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El profesor <b>{{nombrePublicador}}</b> ha creado el curso <b>{{nombreCurso}}</b>.
                        </p>
                        {{/if}}

                        {{#if cursoAceptado}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El <b>Administrador</b> ha aceptado el curso <b>{{nombreCurso}}</b>.
                        </p>
                        {{/if}}

                        {{#if comentario}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El usuario <b>{{nombreComentador}}</b> ha comentado el curso <b>{{cursoComentado}}</b>.
                        </p>
                        {{/if}}

                        {{#if inicioCurso}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El usuario <b>{{nombreUsuario}}</b> ha iniciado el curso <b>{{nombreCurso}}</b>.
                        </p>
                        {{/if}}

                        {{#if terminoCurso}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El usuario <b>{{nombreUsuario}}</b> ha finalizado el curso <b>{{nombreCurso}}</b>.
                        </p>
                        {{/if}}

                        {{#if entregaTrabajo}}
                        <p id="sidenav-texto-comentario" class="grey-text text-darken-2">
                            <!--Clicked by accident. Don't regret a damn thing.-->
                            El usuario <b>{{nombreUsuario}}</b> ha enviado el trabajo final del curso <b>{{nombreCurso}}</b>.
                        </p>
                        {{/if}}
                    </div>
                </a>
            </li>
        </ul>
</template>