<!-- notificaciones -->

<template name="notificaciones">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-bell"></span>
    <b class="estilo-texto-header">Notificaciones</b>
    {{#if contadorNotificaciones}}
      <span class="new badge beigeFormAustral" data-badge-caption="">{{contadorNotificaciones}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notificacion dropdown-menu">
    {{#if contadorNotificaciones}}
      {{#each notificaciones}}
        {{> itemNotificacion}}
      {{/each}}
    {{else}}
      <li><a class="estilo-texto-header" href="">Sin Notificaciones</a></li>
    {{/if}}
    <li><a class="estilo-texto-header" href="{{pathFor 'historialNotificaciones'}}">Ver Historial</a></li>
  </ul>
</template>

<!-- itemNotificacion -->

<template name="itemNotificacion">
  <li>
    {{#if isInRole 'admin'}}
        {{#if inicioCurso}}
        <a class="estilo-texto-header" href="{{rutaContenidoNotificacion}}">
          <strong>{{nombreUsuario}}</strong> ha iniciado el curso <strong>{{nombreCurso}}</strong>
        </a>
        {{/if}}
        {{#if terminoCurso}}
        <a class="estilo-texto-header" href="{{rutaContenidoNotificacion}}">
          <strong>{{nombreUsuario}}</strong> ha finalizado el curso <strong>{{nombreCurso}}</strong>
        </a>
        {{/if}}
        {{#if entregaTrabajo}}
        <a class="estilo-texto-header" href="{{rutaContenidoNotificacion}}">
          <strong>{{nombreUsuario}}</strong> ha enviado el trabajo final del curso <strong>{{nombreCurso}}</strong>
        </a>
        {{/if}}
        {{#if cursoCreado}}
        <a class="estilo-texto-header" href="{{rutaCursoNotificacion}}">
          <strong>{{nombrePublicador}}</strong> publicó el curso <strong>{{nombreCurso}}</strong>
        </a>
        {{/if}}
        
    {{else}}
        
        {{#if cursoAceptado}}
            <a class="estilo-texto-header" href="{{rutaCursoNotificacion}}">
            <strong>{{nombreQuienAcepto}}</strong> aceptó y publico el curso <strong>{{nombreCurso}}</strong>
            </a>
        {{/if}}
        {{#if comentario}}
            <a class="estilo-texto-header" href="{{rutaContenidoNotificacion}}">
            <strong>{{nombreComentador}}</strong> comentó en tu curso
            </a>
        {{/if}}
    {{/if}}
  </li>
</template>