<template name="cabecera">

    <!-- Nuevo Header con Materialize -->

    <div class="navbar-fixed white-text">

        <nav class="moradoFormAustral white-text">
        <!--
        <nav class="blue darken-2 white-text">
        -->
        <div class="nav-wrapper">
            <a href="#" src="\imagenes\australform.png" class="brand-logo"></a>

            <ul id="nav-mobile" class="left hide-on-med-and-down">

            <!-- Si el usuario está logueado -->
            {{#if currentUser}}
                {{#if isInRole 'admin'}}

                <li><a class="estilo-texto-header" href="{{pathFor 'crearProfesor'}}">
                <span class="glyphicon glyphicon-education"></span>
                Crear Profesor</a></li>

                <li><a class="estilo-texto-header" href="{{pathFor 'nuevoUsuario'}}">
                <span class="glyphicon glyphicon-log-in"></span>
                Crear Usuario</a></li>

                <li><a class="estilo-texto-header" href="{{pathFor 'inscribirUsuario'}}">
                <span class="glyphicon glyphicon-log-in"></span>
                Inscribir</a></li>
            
                <li><a class="estilo-texto-header" href="{{pathFor 'crearArea'}}">
                <span class="glyphicon glyphicon-bookmark"></span>
                Crear Categoría</a></li>
                    
                
                <li><a class="estilo-texto-header" href="{{pathFor 'paginaConfiguracion'}}">
                <span class="glyphicon glyphicon-flag"></span>
                Config</a></li>

                <li><a class="estilo-texto-header" href="{{pathFor 'listadoAreas'}}">
                <span class="glyphicon glyphicon-th-list"></span>
                Cursos</a></li>
            
                <!--
                <li><a class="estilo-texto-header" href="{{pathFor 'listadoMetas'}}">
                <span class="glyphicon glyphicon-flag"></span>
                Itinerarios</a></li>-->

                <li class="dropdown">
                    {{> notificaciones}}
                </li>

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    <b class="estilo-texto-header">{{currentUser.username}}</b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="estilo-texto-header" id="log-salir" href="#">Desconectarse</a></li>
                    </ul>
                </li>

                {{/if}}

                {{#if isInRole 'profesor'}}

                <li><a class="estilo-texto-header" href="{{pathFor 'crearCurso'}}">
                <span id="book" class="glyphicon glyphicon-book"></span>
                Crear Curso</a></li>
            
                <!-- 
                <li><a class="estilo-texto-header" href="{{pathFor 'crearModulo'}}">
                <span class="glyphicon glyphicon-file"></span>
                Crear Módulo</a></li>-->
            
                <li><a class="estilo-texto-header" href="{{pathFor 'crearContenido'}}">
                <span class="glyphicon glyphicon-pencil"></span>
                Añadir Contenido</a></li>
            
                <li><a class="estilo-texto-header" href="{{pathFor 'agregarPregunta'}}">
                <span class="glyphicon glyphicon-list-alt"></span>
                Añadir Pregunta</a></li>
            
                <li><a class="estilo-texto-header" href="{{pathFor 'listadoAreas'}}">
                <span class="glyphicon glyphicon-th-list"></span>
                Mis Cursos</a></li>
            
                <!-- 
                <li><a class="estilo-texto-header" href="{{pathFor 'listadoMetas'}}">
                <span class="glyphicon glyphicon-flag"></span>
                Itinerarios</a></li>-->
            
                <li class="dropdown">
                    {{> notificaciones}}
                </li>
            
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    <b class="estilo-texto-header">{{currentUser.profile.fullname}}</b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- referenciar al perfíl del usuario -->
                        <!--
                            <li><a class="estilo-texto-header" id="log-perfil" href="{{pathFor 'perfilUsuario'}}">Perfil</a></li>
                        -->
                        <li><a class="estilo-texto-header" id="log-salir" href="#">Desconectarse</a></li>
                    </ul>
                </li>

                {{/if}}

                {{#if isInRole 'user'}}

                <label id="duracionTimer" class="hidden">{{duracion}}</label>

                <li><a class="estilo-texto-header" href="{{pathFor 'listadoAreas'}}">
                <span class="glyphicon glyphicon-th-list"></span>
                Mis Cursos</a></li>
            
                <!-- 
                <li><a class="estilo-texto-header" href="{{pathFor 'listadoMetas'}}">
                <span class="glyphicon glyphicon-flag"></span>    
                Itinerarios</a></li>-->

                <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span>
                    <b  class="estilo-texto-header">{{currentUser.profile.fullname}}</b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- referenciar al perfíl del usuario -->
                        <!--
                        <li><a class="estilo-texto-header" id="log-perfil" href="{{pathFor 'perfilUsuario'}}">Perfil</a></li>
                        -->
                        <li><a class="estilo-texto-header" id="log-salir" href="#">Desconectarse</a></li>
                    </ul>
                </li>

                <!-- Display the countdown timer in an element -->
                <li class="right"><a id="timer" class="estilo-texto-header" href="{{pathFor 'listadoAreas'}}">
                <span class="#"></span>
                </a></li>

                {{/if}}

                <!-- 

                <li><a class="estilo-texto-header" href="{{pathFor 'contactarSoporte'}}">
                    <span class=""></span>
                    Soporte</a></li>
                -->

            {{else}}
            <!-- Si el usuario no está logueado 

            <li><a class="estilo-texto-header" href="{{pathFor 'listadoAreas'}}">
            <span class="glyphicon glyphicon-th-list"></span>
            Mis Cursos</a></li>
            
            <li><a class="estilo-texto-header" href="{{pathFor 'listadoMetas'}}">
            <span class="glyphicon glyphicon-flag"></span>    
            Itinerarios</a></li>-->
            
            <li><a class="estilo-texto-header" href="{{pathFor 'administracionUsuario'}}">
            <span class="glyphicon glyphicon-log-in"></span>
            Ingreso</a></li>

            {{/if}}

            </ul>
        </div>
    </nav>  
    </div>

    <script>
        $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
        });
    </script>
    
</template>