<template name="contactarSoporte">
        <form class="formAgregarPregunta">
            <div class="row">
                <div id="form" class="form white">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Enviar mensaje a Soporte Técnico
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <div class="col s12">
                                    <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                            <p>Si tienes un reclamo sugerencia y/o idea que quieras compartir con nosotros,
                                                no dudes en contactarnos.</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div id="row-input" class="row {{claseError 'mensaje'}}">
                                    <div id="input-soporte" class="input-field col s12">
                                        <textArea name="mensajeSoporte" id="mensajeSoporte" rows="10" value="" class="form-control"></textArea>
                                        <span class="bloque-ayuda">{{mensajeError 'mensaje'}}</span>
                                    </div>
                                </div>
    
                            </div>

                            <button type="submit" id="ingreso" class="waves-effect waves-light btn-large calipsoFormAustral">Enviar</button>
                        </div>
                    </div>
    
                </div>
            </div>
        </form>
    </template>