<template name="errores">
    <div class="errores">
        {{#each errores}}
            {{> error}}
        {{/each}}
    </div>
</template>

<template name="error">
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{mensaje}}
    </div>
</template>