<template name="mensajes">
    <div class="mensajes">
        {{#each mensajes}}
            {{> mensaje}}
        {{/each}}
    </div>
</template>

<template name="mensaje">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{mensaje}}
        </div>
    </div>
</template>