<template name="addAudio">
    <form class="formAddAudio">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Agregar un <b>audio</b> al contenido <b>{{tituloContenido}}</b>
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- Audio -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>Audio</span>
                                            <input id="audioContenido" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            <input name="audio" class="file-path validate" type="text" placeholder="Sube un archivo de Audio">
                                        </div>
                                    </div>
                                    <span class="bloque-ayuda">{{mensajeError 'audioId'}}</span>

                                </div>
                            </div>

                        </div>

                        <button type="submit" id="add" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Añadir
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>