<template name="agregarPregunta">
    <form class="formAgregarPregunta">
        <div class="row">
            <div id="form" class="form white formAgregarPregunta">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Añadir una nueva pregunta
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <!-- Dropdownlist curso -->
                            <div class="form-group">
                                <label>Curso</label>
                                <select id="seleccion-curso" class="browser-default">
                                    <option value="" selected>Selecciona un Curso</option>
                                    {{#each cursos}}
                                        <option value="{{nombreCurso}}">{{nombreCurso}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'cursoId'}}</span>
                            </div>

                            <div id="div-tipo" style="display: none">

                            <!-- Dropdownlist tipo -->
                            <div class="form-group">
                                <label>Tipo de pregunta</label>
                                <select id="seleccion-tipo" class="browser-default">
                                    <option value="" selected>Selecciona un tipo de pregunta</option>
                                    <option id="seleccion-alt" value="Alternativas">Alternativas</option>
                                    <option id="seleccion-verd" value="Verdadero y Falso">Verdadero y Falso</option>
                                    <option id="seleccion-des" value="Desarrollo">Desarrollo</option>
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'tipo'}}</span>
                            </div>

                            <!-- Desarrollo -->
                            <div id="div-desarrollo" style="display: none">
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="pregunta-desarrollo" id="pregunta-desarrollo" type="text" value="" placeholder="Ingresa el enunciado de tu pregunta" class="form-control">
                                    </div>
                                </div>
                                <span class="bloque-ayuda">{{mensajeError 'pregunta'}}</span>
                            </div>

                            <div id="div-modulos" style="display: none">

                                <!-- Dropdownlist módulo -->
                                <div class="form-group">
                                    <label>Módulo</label>
                                    <select id="seleccion-modulo" class="browser-default">
                                        <!--
                                        <option value="" selected>Selecciona un Módulo</option>
                                        {{#each modulos}}
                                            <option value="{{nombreModulo}}">{{nombreModulo}}</option>
                                        {{/each}}
                                        -->
                                    </select>
                                    <span class="bloque-ayuda">{{mensajeError 'moduloId'}}</span>
                                </div>

                                <div id="div-contenidos" style="display: none">
                                
                                    <!-- Dropdownlist contenido -->
                                    <div class="form-group">
                                        <label>Contenido</label>
                                        <select id="seleccion-contenido" class="browser-default">
                                            <!--
                                            <option value="" selected>Selecciona un Contenido</option>
                                            {{#each contenidos}}
                                                <option value="{{tituloContenido}}">{{tituloContenido}}</option>
                                            {{/each}}
                                            -->
                                        </select>
                                        <span class="bloque-ayuda">{{mensajeError 'contenidoId'}}</span>
                                    </div>

                                    <!-- Alternativas -->
                                    <div id="div-alternativas" style="display: none">
                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="enunciado" id="enunciado" type="text" value="" placeholder="Ingresa el enunciado de tu pregunta" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'enunciado'}}</span>
                                            </div>
                                        </div>

                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="correcta" id="correcta" type="text" value="" placeholder="Ingresa la respuesta correcta" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'correcta'}}</span>
                                            </div>
                                        </div>

                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="alt1" id="alt1" type="text" value="" placeholder="Ingresa alternativa 1" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'alt1'}}</span>
                                            </div>
                                        </div>

                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="alt2" id="alt2" type="text" value="" placeholder="Ingresa alternativa 2" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'alt2'}}</span>
                                            </div>
                                        </div>

                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="alt3" id="alt3" type="text" value="" placeholder="Ingresa alternativa 3" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'alt3'}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Verdadero y Falso -->
                                    <div id="div-verdadero" style="display: none">
                                        <div id="row-input" class="row">
                                            <div id="input-field" class="input-field col s12">
                                                <input name="sentencia" id="sentencia" type="text" value="" placeholder="Ingresa el enunciado de tu sentencia" class="form-control">
                                                <span class="bloque-ayuda">{{mensajeError 'sentencia'}}</span>
                                            </div>
                                        </div>

                                        <!-- Dropdownlist opcion -->
                                        <div class="form-group">
                                            <label>Resultado</label>
                                            <select id="seleccion-resultado" class="browser-default">
                                                <option value="" selected>Selecciona el resultado</option>
                                                <option value="Verdadero">Verdadero</option>
                                                <option value="Falso">Falso</option>
                                            </select>
                                            <span class="bloque-ayuda">{{mensajeError 'resultado'}}</span>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            </div>


                            <!-- Fin -->
                        </div>
                        <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>