<template name="agregarPreguntaDesdeCurso">
        <form class="formAgregarPregunta">
            <div class="row">
                <div id="form" class="form white formAgregarPregunta">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Añadir una nueva pregunta al curso
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
                                
                                <!-- Desarrollo -->
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="pregunta-desarrollo" id="pregunta-desarrollo" type="text" value="" placeholder="Ingresa el enunciado de tu pregunta" class="form-control">
                                    </div>
                                </div>
                                <span class="bloque-ayuda">{{mensajeError 'pregunta'}}</span>
    
                                <!-- Fin -->
                            </div>
                            <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </template>