<template name="agregarPreguntaDesdeContenido">
        <form class="formAgregarPregunta">
            <div class="row">
                <div id="form" class="form white formAgregarPregunta">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Añadir una nueva pregunta al contenido
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                <!-- Dropdownlist tipo -->
                                <div class="form-group">
                                    <label>Tipo de pregunta</label>
                                    <select id="seleccion-tipo" class="browser-default">
                                        <option value="" selected>Selecciona un tipo de pregunta</option>
                                        <option id="seleccion-alt" value="Alternativas">Alternativas</option>
                                        <option id="seleccion-verd" value="Verdadero y Falso">Verdadero y Falso</option>
                                    </select>
                                    <span class="bloque-ayuda">{{mensajeError 'tipo'}}</span>
                                </div>
    
                                <!-- Alternativas -->
                                <div id="div-alternativas" style="display: none">
    
                                
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="enunciado" id="enunciado" type="text" value="" placeholder="Ingresa el enunciado de tu pregunta" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'enunciado'}}</span>
                                    </div>
                                </div>
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="correcta" id="correcta" type="text" value="" placeholder="Ingresa la respuesta correcta" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'correcta'}}</span>
                                    </div>
                                </div>
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt1" id="alt1" type="text" value="" placeholder="Ingresa alternativa 1" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt1'}}</span>
                                    </div>
                                </div>
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt2" id="alt2" type="text" value="" placeholder="Ingresa alternativa 2" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt2'}}</span>
                                    </div>
                                </div>
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt3" id="alt3" type="text" value="" placeholder="Ingresa alternativa 3" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt3'}}</span>
                                    </div>
                                </div>
    

                                </div>
    
                                <!-- Verdadero y Falso -->
    
                                <div id="div-verdadero" style="display: none">
    
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="sentencia" id="sentencia" type="text" value="" placeholder="Ingresa el enunciado de tu sentencia" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'sentencia'}}</span>
                                    </div>
                                </div>
    
                                <!-- Dropdownlist tipo -->
                                <div class="form-group">
                                    <label>Resultado</label>
                                    <select id="seleccion-resultado" class="browser-default">
                                        <option value="" selected>Selecciona el resultado</option>
                                        <option value="Verdadero">Verdadero</option>
                                        <option value="Falso">Falso</option>
                                    </select>
                                    <span class="bloque-ayuda">{{mensajeError 'resultado'}}</span>
                                </div>
    
                                </div>
    
    
                                <!-- Fin -->
                            </div>
                            <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                                <span class="glyphicon glyphicon-plus"></span>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </template>