<template name="crearTestDesdeModulo">
    <form class="formCrearTest">
        <h3>Ingreso del Test del Módulo {{nombreModulo}}</h3>
        <br/>
        <div id="test">
            <div class="form-group {{claseError 'tituloTest'}}">
                <label class="control-label">Título</label>
                <input name="tituloTest" id="tituloTest" type="text" value="" placeholder="Título del test" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'tituloTest'}}</span>
            </div>
            
            <div class="form-group {{claseError 'pregunta1'}}">
                <label class="control-label">Pregunta N°1</label>
                <input name="pregunta1" id="pregunta1" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta1'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta1'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio1" type="radio" checked="true">
                    </span>
                    <input name="alt1" id="alt1" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta1'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta1'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio1" type="radio">
                    </span>
                    <input name="alt2" id="alt2" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta1'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta1'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio1" type="radio">
                    </span>
                    <input name="alt3" id="alt3" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta1'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta1'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio1" type="radio">
                    </span>
                    <input name="alt4" id="alt4" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta1'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta2'}}">
                <label class="control-label">Pregunta N°2</label>
                <input name="pregunta2" id="pregunta2" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta2'}}</span>
            </div>
            
            <div class="form-group {{claseError 'respuestaCorrecta2'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group {{claseError 'respuestaCorrecta2'}}">
                    <span class="input-group-addon" id="ayudante5">
                        <input name="radio2" type="radio" checked="true">
                    </span>
                    <input name="alt5" id="alt5" type="text" value="" class="form-control" aria-describedby="ayudante5">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta2'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta2'}}">
                    <span class="input-group-addon" id="ayudante6">
                        <input name="radio2" type="radio">
                    </span>
                    <input name="alt6" id="alt6" type="text" value="" class="form-control" aria-describedby="ayudante6">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta2'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta2'}}">
                    <span class="input-group-addon" id="ayudante7">
                        <input name="radio2" type="radio">
                    </span>
                    <input name="alt7" id="alt7" type="text" value="" class="form-control" aria-describedby="ayudante7">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta2'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta2'}}">
                    <span class="input-group-addon" id="ayudante8">
                        <input name="radio2" type="radio">
                    </span>
                    <input name="alt8" id="alt8" type="text" value="" class="form-control" aria-describedby="ayudante8">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta2'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta3'}}">
                <label class="control-label">Pregunta N°3</label>
                <input name="pregunta3" id="pregunta3" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta3'}}</span>
            </div>
            
            <div class="form-group {{claseError 'respuestaCorrecta3'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group ">
                    <span class="input-group-addon" id="ayudante9">
                        <input name="radio3" type="radio" checked="true">
                    </span>
                    <input name="alt9" id="alt9" type="text" value="" class="form-control" aria-describedby="ayudante9">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta3'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta3'}}">
                    <span class="input-group-addon" id="ayudante10">
                        <input name="radio3" type="radio">
                    </span>
                    <input name="alt10" id="alt10" type="text" value="" class="form-control" aria-describedby="ayudante10">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta3'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta3'}}">
                    <span class="input-group-addon" id="ayudante11">
                        <input name="radio3" type="radio">
                    </span>
                    <input name="alt11" id="alt11" type="text" value="" class="form-control" aria-describedby="ayudante11">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta3'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta3'}}">
                    <span class="input-group-addon" id="ayudante12">
                        <input name="radio3" type="radio">
                    </span>
                    <input name="alt12" id="alt12" type="text" value="" class="form-control" aria-describedby="ayudante12">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta3'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta4'}}">
                <label class="control-label">Pregunta N°4</label>
                <input name="pregunta4" id="pregunta4" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta4'}}</span>
            </div>
              
            <div class="form-group {{claseError 'respuestaCorrecta4'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio4" type="radio" checked="true">
                    </span>
                    <input name="alt13" id="alt13" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta4'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta4'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio4" type="radio">
                    </span>
                    <input name="alt14" id="alt14" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta4'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta4'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio4" type="radio">
                    </span>
                    <input name="alt15" id="alt15" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta4'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta4'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio4" type="radio">
                    </span>
                    <input name="alt16" id="alt16" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta4'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta5'}}">
                <label class="control-label">Pregunta N°5</label>
                <input name="pregunta5" id="pregunta5" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta5'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta5'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio5" type="radio" checked="true">
                    </span>
                    <input name="alt17" id="alt17" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta5'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta5'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio5" type="radio">
                    </span>
                    <input name="alt18" id="alt18" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta5'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta5'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio5" type="radio">
                    </span>
                    <input name="alt19" id="alt19" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta5'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta5'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio5" type="radio">
                    </span>
                    <input name="alt20" id="alt20" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta5'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta6'}}">
                <label class="control-label">Pregunta N°6</label>
                <input name="pregunta6" id="pregunta6" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta6'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta6'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio6" type="radio" checked="true">
                    </span>
                    <input name="alt21" id="alt21" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta6'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta6'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio6" type="radio">
                    </span>
                    <input name="alt22" id="alt22" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta6'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta6'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio6" type="radio">
                    </span>
                    <input name="alt23" id="alt23" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta6'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta6'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio6" type="radio">
                    </span>
                    <input name="alt24" id="alt24" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta6'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta7'}}">
                <label class="control-label">Pregunta N°7</label>
                <input name="pregunta7" id="pregunta7" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta7'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta7'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio7" type="radio" checked="true">
                    </span>
                    <input name="alt25" id="alt25" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta7'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta7'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio7" type="radio">
                    </span>
                    <input name="alt26" id="alt26" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta7'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta7'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio7" type="radio">
                    </span>
                    <input name="alt27" id="alt27" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta7'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta7'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio7" type="radio">
                    </span>
                    <input name="alt28" id="alt28" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta7'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta8'}}">
                <label class="control-label">Pregunta N°8</label>
                <input name="pregunta8" id="pregunta8" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta8'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta8'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio8" type="radio" checked="true">
                    </span>
                    <input name="alt29" id="alt29" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta8'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta8'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio8" type="radio">
                    </span>
                    <input name="alt30" id="alt30" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta8'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta8'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio8" type="radio">
                    </span>
                    <input name="alt31" id="alt31" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta8'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta8'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio8" type="radio">
                    </span>
                    <input name="alt32" id="alt32" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta8'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta9'}}">
                <label class="control-label">Pregunta N°9</label>
                <input name="pregunta9" id="pregunta9" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta9'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta9'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio9" type="radio" checked="true">
                    </span>
                    <input name="alt33" id="alt33" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta9'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta9'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio9" type="radio">
                    </span>
                    <input name="alt34" id="alt34" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta9'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta9'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio9" type="radio">
                    </span>
                    <input name="alt35" id="alt35" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta9'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta9'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio9" type="radio">
                    </span>
                    <input name="alt36" id="alt36" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta9'}}</span>
            </div>
            
                <br/>
            
            <div class="form-group {{claseError 'pregunta10'}}">
                <label class="control-label">Pregunta N°10</label>
                <input name="pregunta10" id="pregunta10" type="text" value="" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta10'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta10'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio10" type="radio" checked="true">
                    </span>
                    <input name="alt37" id="alt37" type="text" value="" class="form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta10'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta10'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio10" type="radio">
                    </span>
                    <input name="alt38" id="alt38" type="text" value="" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta10'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta10'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio10" type="radio">
                    </span>
                    <input name="alt39" id="alt39" type="text" value="" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta10'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta10'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio10" type="radio">
                    </span>
                    <input name="alt40" id="alt40" type="text" value="" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta10'}}</span>
            </div>
            
                <br/>
            
            <button type="submit" id="test" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Añadir
            </button>
        </div>
    </form>
</template>