<template name="crearContenido">
    
    <!-- Nuevo formulario de contenido -->

    <form class="formCrearContenido">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de Contenido
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <input name="titulo" id="titulo" type="text" value="" placeholder="Título del contenido" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'tituloContenido'}}</span>
                                </div>
                            </div>

                            <!-- Dropdownlist modulo -->
                            <div class="form-group">
                                <label>Módulo</label>
                                <select id="seleccion-modulo" class="browser-default">
                                    <option value="" selected>Selecciona un Módulo</option>
                                    {{#each modulos}}
                                        <option value="{{nombreModulo}}">{{nombreModulo}}</option>
                                    {{/each}}
                                </select>
                                <span class="bloque-ayuda">{{mensajeError 'moduloId'}}</span>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Duración del contenido (en minutos)</p>
                                    <input name="duracion" id="duracion" type="number" step="any" placeholder="ej: 240" min="1" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'duracionContenido'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- PDF -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>PDF ó PPSX</span>
                                            <input id="pdfContenido" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Sube un archivo PDF ó PPSX">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Video -->
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Inserta un video</p>
                                    <input name="video" id="video" type="text" value="" placeholder="https://www.youtube.com/watch?v=PIh2xe4jnpk" class="form-control">
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- Audio -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>Audio</span>
                                            <input id="audioContenido" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            <input name="audio" class="file-path validate" type="text" placeholder="Sube un archivo de Audio">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <button type="submit" id="contenido" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Añadir
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <!-- 
    <form class="formCrearContenido">
        <h3>Ingreso de Contenido</h3>
        <br/>

        <div id="div-contenido">
            
            <div class="form-group {{claseError 'nombreModulo'}}">
                <label class="control-label">Módulo</label>
                <select id="seleccion-modulo" class="form-control">
                <option disabled="disabled" selected="selected">Selecciona un Módulo</option> 
                {{#each modulos}}
                    <option value="{{nombreModulo}}">{{nombreModulo}}</option>
                {{/each}}
                </select>
                <span class="bloque-ayuda">{{mensajeError 'nombreModulo'}}</span>
            </div>
            
            <div class="form-group {{claseError 'titulo'}}">
                <label class="control-label">Título del contenido</label>
                <input name="titulo" id="titulo" type="text" value="" placeholder="Título del contenido" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'titulo'}}</span>
            </div>
        
            <label>Link del video</label>
            <div class="input-group">
                <span class="input-group-addon" id="ayudante">Ejemplo:</span>
                <input name="video" id="video" type="text" value="" placeholder="https://www.youtube.com/watch?v=PIh2xe4jnpk" class="form-control" aria-describedby="ayudante">
            </div>
            <br/>
        
            <div class="form-group">
                <label>Contenido</label>
                <textarea name="texto" id="texto" rows="10" value="" class="form-control"></textarea>
            </div>
        
            <button type="submit" id="contenido" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Añadir
            </button>
        </div>
    </form>-->
</template>