<template name="edicionVideo">
    <form class="formEdicionVideo">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Edición del <b>video</b> del contenido <b>{{tituloContenido}}</b>
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <!-- Video -->
                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Link del video</p>
                                    <input name="video" id="video" type="text" value="{{newUrl}}" placeholder="https://www.youtube.com/watch?v=PIh2xe4jnpk" class="form-control">
                                </div>
                            </div>
                            <span class="bloque-ayuda">{{mensajeError 'url'}}</span>

                        </div>

                        <button type="submit" id="add" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Añadir
                        </button>

                        <hr>

                        <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>