<template name="edicionTituloContenido">
    <form class="formEditarContenido">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Edición del Contenido del Módulo {{nombreModulo}}
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Título del contenido</p>
                                    <input name="titulo" id="titulo" type="text" value="{{tituloContenido}}" placeholder="Título del contenido" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'tituloContenido'}}</span>
                                </div>
                            </div>

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <p>Duración del contenido</p>
                                    <input name="duracion" id="duracion" type="text" value="{{duracionContenido}}" placeholder="Duración del contenido" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'duracionContenido'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" value="guardar" class="waves-effect waves-light btn-large calipsoFormAustral"><span class="glyphicon glyphicon-floppy-saved"></span> Guardar</button>
                        <hr/>
                        <!--
                        <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>