<template name="edicionArchivo">
    <form class="formEdicionArchivo">
        <div class="row">
            <div id="form" class="form white formCrearModulo">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Edición del <b>Archivo</b> del contenido <b>{{tituloContenido}}</b>
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row">
                                <div id="input-field" class="input-field col s12">
                                    <!-- PDF -->
                
                                    <div class="file-field input-field">
                                        <i class="material-icons prefix"></i>
                                        <div id="boton-imagen" class="btn moradoIncluyes right">
                                            <span>PDF ó PPSX</span>
                                            <input id="pdfContenido" type="file">
                                        </div>
                    
                                        <div id="input-imagen" class="file-path-wrapper">
                                            {{#each pdfs}}
                                            <input id="nombrePdf" class="file-path validate" type="text" value="{{name}}" placeholder="Sube un archivo PDF o PPSX">
                                            {{/each}}
                                        </div>
                                    </div>
                                    <span class="bloque-ayuda">{{mensajeError 'pdfId'}}</span>

                                </div>
                            </div>
                        
                        </div>

                        <button type="submit" id="add" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Editar
                        </button>

                        <hr>

                        <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>