
<!-- decprecated -->
<template name="edicionTest">
    <form class="formEdicionTest">
        <h3>Edición del Test del Módulo {{nombreModulo}}</h3>
        <br/>
        <div id="test">
            <div class="form-group {{claseErrorTitulo 'tituloTest'}}">
                <label class="control-label">Título</label>
                <input name="tituloTest" id="tituloTest" type="text" value="{{test.tituloTest}}" placeholder="Título del test" class="form-control">
                <span class="bloque-ayuda">{{mensajeErrorTitulo 'tituloTest'}}</span>
            </div>

            {{#each preguntas}}
            
            <div class="form-group {{claseError 'pregunta'}}">
                <label class="control-label">Pregunta N°{{_id}}</label>
                <input name="pregunta{{_id}}" id="pregunta{{_id}}" type="text" value="{{enunciado}}" placeholder="" class="form-control">
                <span class="bloque-ayuda">{{mensajeError 'pregunta'}}</span>
            </div>
                
            <div class="form-group {{claseError 'respuestaCorrecta'}}">
                <label class="control-label">Alternativas</label>
                <p>Selecciona una alternativa como respuesta correcta.</p>
                <div class="input-group">
                    <span class="input-group-addon" id="ayudante">
                        <input name="radio{{_id}}" type="radio" checked="true">
                    </span>
                    <input name="alt{{op1}}" id="alt{{op1}}" type="text" value="{{alt1}}" class=" form-control" aria-describedby="ayudante">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta'}}">
                    <span class="input-group-addon" id="ayudante2">
                        <input name="radio{{_id}}" type="radio">
                    </span>
                    <input name="alt{{op2}}" id="alt{{op2}}" type="text" value="{{alt2}}" class="form-control" aria-describedby="ayudante2">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta'}}">
                    <span class="input-group-addon" id="ayudante3">
                        <input name="radio{{_id}}" type="radio">
                    </span>
                    <input name="alt{{op3}}" id="alt{{op3}}" type="text" value="{{alt3}}" class="form-control" aria-describedby="ayudante3">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta'}}</span>
            
                <div class="input-group {{claseError 'respuestaCorrecta'}}">
                    <span class="input-group-addon" id="ayudante4">
                        <input name="radio{{_id}}" type="radio">
                    </span>
                    <input name="alt{{op4}}" id="alt{{op4}}" type="text" value="{{alt4}}" class="form-control" aria-describedby="ayudante4">
                </div>
                <span class="bloque-ayuda">{{mensajeError 'respuestaCorrecta'}}</span>
            </div>
            
                <br/>
            
            {{/each}}
            
            <button type="submit" id="test" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Guardar
            </button>
            <hr/>
            <a href="#" class="btn btn-danger eliminar"><span class="glyphicon glyphicon-trash"></span>   Eliminar</a>
        </div>
    </form>
</template>