<template name="editarPregunta">
        <form class="formAgregarPregunta">
            <div class="row">
                <div id="form" class="form white formAgregarPregunta">
    
                    <div class="row">
                        <div id="contenedor-ingreso1" class="container center">
                            <p id="texto-search" class=""> Editar pregunta
                            </p>
                    
                            <div class="divider"></div>
                    
                            <div id="contenedor-ingreso2" class="container center">
    
                                {{#if esDesarrollo}}
                                <!-- Desarrollo -->
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="pregunta-desarrollo" id="pregunta-desarrollo" type="text" value="{{pregunta}}" placeholder="{{pregunta}}" class="form-control">
                                    </div>
                                </div>
                                <span class="bloque-ayuda">{{mensajeError 'pregunta'}}</span>
                                {{/if}}
    
                                {{#if esAlternativa}}
                                <!-- Alternativas -->
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="enunciado" id="enunciado" type="text" value="{{enunciado}}" placeholder="{{enunciado}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'enunciado'}}</span>
                                    </div>
                                </div>

                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="correcta" id="correcta" type="text" value="{{correcta}}" placeholder="{{correcta}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'correcta'}}</span>
                                    </div>
                                </div>

                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt1" id="alt1" type="text" value="{{alt1}}" placeholder="{{alt1}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt1'}}</span>
                                    </div>
                                </div>

                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt2" id="alt2" type="text" value="{{alt2}}" placeholder="{{alt2}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt2'}}</span>
                                    </div>
                                </div>

                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="alt3" id="alt3" type="text" value="{{alt3}}" placeholder="{{alt3}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'alt3'}}</span>
                                    </div>
                                </div>
                                {{/if}}

                                {{#if esVerdadero}}
                                <!-- Verdadero y Falso -->
                                <div id="row-input" class="row">
                                    <div id="input-field" class="input-field col s12">
                                        <input name="sentencia" id="sentencia" type="text" value="{{sentencia}}" placeholder="{{sentencia}}" class="form-control">
                                        <span class="bloque-ayuda">{{mensajeError 'sentencia'}}</span>
                                    </div>
                                </div>

                                <!-- Dropdownlist opcion -->
                                <div class="form-group">
                                    <label>Resultado</label>
                                    <select id="seleccion-resultado" class="browser-default">
                                        <option value="{{resultado}}" selected>{{resultado}}</option>
                                        <option value="Verdadero">Verdadero</option>
                                        <option value="Falso">Falso</option>
                                    </select>
                                    <span class="bloque-ayuda">{{mensajeError 'resultado'}}</span>
                                </div>
                                {{/if}}
    
                                <!-- Fin -->
                            </div>
                            <button type="submit" id="pregunta" class="waves-effect waves-light btn-large calipsoFormAustral">
                                <!--<span class="glyphicon glyphicon-plus"></span>-->
                                Editar
                            </button>
                            <hr/>
                            <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </template>