<template name="itemPregunta">
    <div class="col s12">
        <ul id="" class="collection with-header">
            <li class="collection-header">
                <div id="row-pregunta" class="row">
                    <div class="col s10">
                        <p id="texto-pregunta" class=""><b>Pregunta número {{orden}}</b> - {{tipo}}</p>
                    </div>
                    <div class="col s2">
                        <!--
                        <button class="right waves-effect waves-light btn-large calipsoFormAutral">editar</button>
                        -->
                        
                        <a href="{{pathFor 'editarPregunta'}}"><p id="texto-pregunta" class="right">editar</p></a>
                        
                    </div>
                </div>
            </li>
            <li class="collection-item">
                {{#if alternativas}}
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Enunciado:</b></p>
                    </div>
                    <div class="col s6"> 
                        <p id="texto-pregunta" class="">{{enunciado}}</p>
                    </div>
                </div>
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Alternativa correcta:</b></p>
                    </div>
                    <div class="col s6">
                        <p id="texto-pregunta" class="">{{correcta}}</p>
                    </div>
                </div>
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Alternativas:</b></p>
                    </div>
                    <div class="col s6">
                        <p id="texto-pregunta" class="">{{alt1}}</p>
                        <p id="texto-pregunta" class="">{{alt2}}</p>
                        <p id="texto-pregunta" class="">{{alt3}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if verdadero}}
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Sentencia:</b></p>
                    </div>
                    <div class="col s6"> 
                        <p id="texto-pregunta" class="">{{sentencia}}</p>
                    </div>
                </div>
                
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Resultado:</b></p>
                    </div>
                    <div class="col s6"> 
                        <p id="texto-pregunta" class="">{{resultado}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if desarrollo}}
                <div id="row-pregunta" class="row">
                    <div class="col s4">
                        <p id="texto-pregunta" class=""><b>Pregunta:</b></p>
                    </div>
                    <div class="col s6">
                        <p id="texto-pregunta" class="">{{pregunta}}</p>
                    </div>
                </div>
                {{/if}}
            </li>
        </ul>
    </div>
</template>