
<!-- decprecated -->
<template name="paginaTest">
        <form class="formTest">
        <br/>
            
            <h3 id="titulo-test">{{test.tituloTest}}</h3>
            <br/>
            
            {{#each tests}}
            <div class="form-group">
                    <label id="preguntas" class="list-group-item active">Pregunta N°{{id}}: {{pregunta}}</label>
                    <button style="display:none">{{numero}}</button>
                <div class="radio">
                    <label class="list-group-item"><input type="radio" name="radio{{_id}}">{{alt1}}</label>
                    <label class="list-group-item"><input type="radio" name="radio{{_id}}">{{alt2}}</label>
                    <label class="list-group-item"><input type="radio" name="radio{{_id}}">{{alt3}}</label>
                    <label class="list-group-item"><input type="radio" name="radio{{_id}}">{{alt4}}</label>
                </div>
            </div>
            {{/each}}
            
            <button type="submit" id="test" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Evaluar
            </button>
        </form>
</template>