<template name="paginaPreguntasDesarrollo">
        <div id=titulo-tabs class="col s12 white">
            <div id="seccion-tabs" class="row center">
    
                <div id="" class="container">
                    <h2 id="label-search" class="label_style" tabindex="15">Listado de preguntas</h2>
                    <p id="titulo-preguntas-contenido"><b>Curso:</b> {{nombreCurso}}</p>
                </div>
    
    
            </div>
        </div>
    
        <div class="row grey lighten-3">
    
            <div class="container">
    
                <div class="center">
                    <a id="boton-preguntas" href="{{pathFor 'agregarPreguntaDesdeCurso'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Añadir pregunta</a>
                        <!--
                        <a id="boton-preguntas" href="{{pathFor 'definirPruebaContenido'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Definir parámetros de Prueba</a>
                    -->
                </div>
    
                <p id="texto-pregunta" class="right">Cantidad preguntas de desarrollo: {{cantidadDesarrollo}}</p>
                
                <ul class="comentarios">
                    {{#each preguntasDesarrollo}}
                        {{> itemPregunta}}
                    {{/each}}

                    <div class="col s12">
                        <div class="row">

                            {{#each modulos}}
                            <div class="col s12">
                                <p id="texto-pregunta"><b>Módulo {{orden}}: {{nombreModulo}}</b></p>
                            </div>
                            
                                {{#each contenidos}}
                                <div class="col s6">
                                    <p id="texto-pregunta">Contenido {{orden}}: {{tituloContenido}}</p>
                                </div>
                                <div class="col s6">
                                    <p id="texto-pregunta" class="right">Cantidad de preguntas: {{cantidad}}</p>
                                </div>
                                {{#each preguntas}}
                                    {{> itemPregunta}}
                                {{/each}}
                            {{/each}}
                            
                            
                            {{/each}}
                        </div>
                    </div>
                </ul>
            </div>
    
        </div>
    </template>