<template name="paginaPreguntas">
    <div id=titulo-tabs class="col s12 white">
        <div id="seccion-tabs" class="row center">

            <div id="" class="container">
                <h2 id="label-search" class="label_style" tabindex="15">Listado de preguntas</h2>
                <p id="titulo-preguntas-contenido"><b>Contenido:</b> {{tituloContenido}}</p>
            </div>


        </div>
    </div>

    <div class="row grey lighten-3">

        <div class="container">

            <div class="center">
                <a id="boton-preguntas" href="{{pathFor 'agregarPreguntaDesdeContenido'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Añadir pregunta</a>
                <!--
                    <a id="boton-preguntas" href="{{pathFor 'definirPruebaContenido'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Definir parámetros de Prueba</a>
                -->
            </div>

            <p id="texto-pregunta" class="right">Total de preguntas: {{cantidad}}</p>
            
            <ul class="comentarios">
                {{#each preguntas}}
                    {{> itemPregunta}}
                {{/each}}
            </ul>
        </div>

    </div>
</template>