<template name="paginaContenido">
        <div id="paginaModulo" class="paginaModulo">

            <!-- Nueva vista de página Módulo -->
            
            <div id="contenedor-pagina-modulo" class="row">
                <div id="contenedor-titulo-modulo" class="col s12 m3 white">
        
                    <div id="contenedor-titulo-modulo2" class="grey lighten-4">
                        <div id="contenedor-titulo-modulo3" class="">
                            <p id="titulo-modulo"><b>{{tituloContenido}}</b></p>
                            {{#if isInRole 'profesor'}}
                                {{#if propioContenido}}
                                    {{#if estadoPendiente}}
                                    <div class="row">
                                        <a id="editarContenido" href="{{pathFor 'edicionTituloContenido'}}" class="waves-effect waves-light btn-large left calipsoFormAustral"><span class="glyphicon glyphicon-cog"></span>Editar Contenido</a>
                                    </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
        
                    <div id="sidenav-contenedor-listado-modulos" class="white">
        
                        <p id="titulo-bienvenida">En donde estoy</p>
        
                        <div id="contenedor-listado-modulos2">
                            <ul class="collection">

                                <li id="sidenav-contenedor-titulo-contenido" class="collection-item">
                                    <a id="botonPaginaModulo" href="#">
                                        <div id="sidenav-row-contenido" class="row">
                                            <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">
                                                Módulo {{ordenModulo}}<br>
                                                {{nombreModulo}}
                                            </p>
                                        </div>
                                    </a>
                                </li>

                                <label id="idContenido" style="display: none;">{{_id}}</label>
                                
                                {{#each contenidos}}
                                    {{#if contenidoActual}}
                                    <li id="sidenav-contenedor-contenido-activo" class="collection-item">
                                        <a href="{{pathFor 'paginaContenido'}}">
                                            <div id="sidenav-row-contenido" class="row">
                                                <div class="col s9">
                                                    
                                                    <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2"><i id="icono-contenido" class="material-icons">play_circle_outline</i>
                                                        {{ordenModulo}}.{{orden}}. {{tituloContenido}}
                                                    </p>
                                                </div>
                                                <div id="duracion-contenidos" class="col s3">
                                                    <p id="sidenav-texto-descripcion-modulo" class="grey-text center-align">
                                                        duración
                                                        {{duracionContenido}}
                                                        <!-- Si aprobado
                                                        <i id="icono-contenido" class="material-icons">radio_button_unchecked</i>
                                                        <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{else}}
                                    <li id="sidenav-contenedor-contenido" class="collection-item">
                                        <a href="{{pathFor 'paginaContenido'}}">
                                            <div id="sidenav-row-contenido" class="row">
                                                <div class="col s9">
                                                    
                                                    <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2"><i id="icono-contenido" class="material-icons">play_circle_outline</i>
                                                        {{ordenModulo}}.{{orden}}. {{tituloContenido}}
                                                    </p>
                                                </div>
                                                <div id="duracion-contenidos" class="col s3">
                                                    <p id="sidenav-texto-descripcion-modulo" class="grey-text center-align">
                                                        duración
                                                        {{duracionContenido}}
                                                        <!-- Si aprobado
                                                        <i id="icono-contenido" class="material-icons">radio_button_unchecked</i>
                                                        <i id="icono-contenido" class="material-icons">check_circle</i>-->
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/if}}
                                {{/each}}

                                {{#if moduloTienePrueba}}
                                <li id="sidenav-contenedor-contenido" class="collection-item beigeFormAustral">
                                    <a id="pruebaModulo" href="#">
                                        <div id="sidenav-row-contenido" class="row">
                                            <div class="col s9">
                                                
                                                <p id="sidenav-texto-descripcion-modulo" class="white-text">
                                                    Prueba Módulo {{ordenModulo}}
                                                </p>
                                            </div>
                                            <div id="duracion-contenidos" class="col s3">
                                                <p id="sidenav-texto-descripcion-modulo" class="white-text center-align">
                                                    duración
                                                    {{duracionPrueba}}
                                                    <!-- Si aprobado
                                                    <i id="icono-contenido" class="material-icons">lock</i>
                                                    <i id="icono-contenido" class="material-icons">lock_open</i>-->
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
        
                </div>
        
                <!-- Display de pdf -->
                <div id="contenedor-mapa" class="col s12 m6 white">
                    
                    {{#if isInRole 'profesor'}}
                    <div class="col s12 center">
                        <div class="row">
                            <div class="col s4">
                                <button id="addPdf" href="#" class="waves-effect waves-light btn-large beigeFormAustral hoverable">Agregar PDF</button>
                            </div>
                            <div class="col s4">
                                <button id="addVideo" href="#" class="waves-effect waves-light btn-large beigeFormAustral hoverable">Agregar Video</button>
                            </div>
                            <div class="col s4">
                                <button id="addAudio" href="#" class="waves-effect waves-light btn-large beigeFormAustral hoverable">Agregar Audio</button>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    <label id="idContenido" style="display: none;">Id contenido: {{_id}}</label>

                    {{#each recursos}}
                        {{#if esPdf}}

                        {{#if isInRole 'profesor'}}
                            {{#if noEsPrimero}}
                            <a tipo="pdfs" code="{{idArchivo}}" name="{{ordenRecurso}}" id="subirRecurso"><i class="material-icons">arrow_upward</i></a>
                            {{/if}}

                            {{#if noEsUltimoPdf}}
                            <a tipo="pdfs" code="{{idArchivo}}" name="{{ordenRecurso}}" id="bajarRecurso"><i class="material-icons">arrow_downward</i></a>
                            {{/if}}
                        {{/if}}

                        <p class=""><b>{{ordenRecurso}}.</b> Archivo N° {{ordenPdf}}
                            {{#if isInRole 'profesor'}}
                            | <a id="edicionArchivo">Editar Recurso</a>
                            {{/if}}
                        </p>
                        
                        <label id="recurso{{ordenRecurso}}" style="display: none;">{{idArchivo}}</label>

                        {{#each pdfs}}

                        <!-- Nombre del archivo pdf subido -->
                        <p><b>{{name}}</b></p>

                        <div class="card center-align">
                            <a href="{{this.url}}" download="{{name}}" id="boton-descargar" class="waves-effect waves-light btn-large grey darken-1 white-text hoverable">Visualizar Archivo</a>
                        </div>
                        {{/each}}
                        {{/if}}

                        {{#if esVideo}}

                        {{#if isInRole 'profesor'}}
                            {{#if noEsPrimero}}
                            <a tipo="videos" code="{{idVideo}}" name="{{ordenRecurso}}" id="subirRecurso"><i class="material-icons">arrow_upward</i></a>
                            {{/if}}

                            {{#if noEsUltimoVideo}}
                            <a tipo="videos" code="{{idVideo}}" name="{{ordenRecurso}}" id="bajarRecurso"><i class="material-icons">arrow_downward</i></a>
                            {{/if}}
                        {{/if}}

                        <p class=""><b>{{ordenRecurso}}.</b> Video N° {{ordenVideo}}
                            {{#if isInRole 'profesor'}}
                            | <a id="edicionVideo">Eliminar Video</a>
                            {{/if}}
                        </p>

                        <label id="recurso{{ordenRecurso}}" style="display: none;">{{idVideo}}</label>

                        <div id="video-contenido" class="video-container">
                            <iframe width="853" height="480" src="{{link}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {{/if}}
                        
                        {{#if esAudio}}

                        {{#if isInRole 'profesor'}}
                            {{#if noEsPrimero}}
                            <a tipo="audios" code="{{idAudio}}" name="{{ordenRecurso}}" id="subirRecurso"><i class="material-icons">arrow_upward</i></a>
                            {{/if}}

                            {{#if noEsUltimoAudio}}
                            <a tipo="audios" code="{{idAudio}}" name="{{ordenRecurso}}" id="bajarRecurso"><i class="material-icons">arrow_downward</i></a>
                            {{/if}}
                        {{/if}}

                        <p class=""><b>{{ordenRecurso}}.</b> Audio N° {{ordenAudio}}
                            {{#if isInRole 'profesor'}}
                            | <a id="edicionAudio">Editar Recurso</a>
                            {{/if}}
                        </p>
                        
                        <label id="recurso{{ordenRecurso}}" style="display: none;">{{idAudio}}</label>

                        {{#each audios}}
                        <!-- Nombre del archivo audio subido -->
                        <p><b>{{name}}</b></p>
                        <div class="card center-align">
                            <audio id="audio-contenido" src="{{this.url}}" type="audio/mp3" controls></audio>
                        </div>
                        {{/each}}
                        {{/if}}
                    {{/each}}

                </div>
        
                <div id="contenedor-botones" class="col s12 m3 white">
                    <div id="contenedor-botones2" >
                        <div class="">
                            <form>
                                <button id="boton-atras" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Atrás</button>
                                <button id="boton-siguiente" type="submit" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Siguiente</button>
                            </form>
                        </div>

                        <!-- Si es profesor -->
                        {{#if isInRole 'profesor'}}

                        <div class="row">
                            <a id="boton-listado-preguntas" href="{{pathFor 'paginaPreguntas'}}" class="waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Listado de Preguntas</a>
                        </div>

                        {{/if}}
        
                        <div id="contenedor-comentarios" class="">

                            {{> crearComentario}}

                            <!-- Botón de soporte -->
                            <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2">¿Necesitas ayuda técnica?</p>
                            <a type="submit" href="{{pathFor 'contactarSoporte'}}" id="soporte" value="publicar" class="waves-effect waves-light btn-large azulAustral white-text hoverable"><span class="glyphicon glyphicon-alert"></span>Ayuda Técnica</a>
                            <br/>
                            <br/>

                            <div class="col s6">
                                <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2 left-align">
                                    Últimos comentarios
                                </p>
                            </div>
                            <div class="col s6">
                                <p id="sidenav-texto-descripcion-modulo" class="grey-text text-darken-2 right-align">
                                    mostrando {{contadorComentarios}}
                                </p>
                            </div>

                            <br/>
                            <br/>


                            <!-- Listado de comentarios -->
                            <ul class="comentarios">
                                
                                {{#each comentarios}}
                                    {{> itemComentario}}
                                {{/each}}
                            </ul>
                            
                            <div id="boton-comentarios" class="col s12">
                                <a href="{{pathFor 'listadoComentarios'}}" class="right waves-effect waves-light btn-large white grey-text text-darken-4 hoverable">Ver Todos</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- 
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
    </script>-->

</template>