<template name="noEncontrado">
    <div class="not-found page jumbotron">
        <h2>404</h2>
        <p>Lo siento, nosotros no pudimos encontrar una página en esta dirección</p>
    </div>
</template>