<template name="crearArea">

    <!-- NUevo formulario de creacion de areas-->

    <form class="formCrearArea">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Creación de una nueva Categoría
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreArea'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="ingresoArea" id="ingresoArea" type="text" value="" placeholder="Nombre de la Categoría" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreArea'}}</span>
                                </div>
                            </div>
                        </div>
                    
                        <button type="submit" id="crear" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Crear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>