<template name="edicionArea">

    <form class="formCrearArea">
        <div class="row">
            <div id="form" class="form white formCrearProfesor">

                <div class="row">
                    <div id="contenedor-ingreso1" class="container center">
                        <p id="texto-search" class=""> Edición de Categoría
                        </p>
                
                        <div class="divider"></div>
                
                        <div id="contenedor-ingreso2" class="container center">

                            <div id="row-input" class="row {{claseError 'nombreArea'}}">
                                <div id="input-field" class="input-field col s12">
                                    <input name="ingresoArea" id="ingresoArea" type="text" value="{{nombreArea}}" placeholder="{{nombreArea}}" class="form-control">
                                    <span class="bloque-ayuda">{{mensajeError 'nombreArea'}}</span>
                                </div>
                            </div>

                        </div>

                        <button type="submit" id="crear" class="waves-effect waves-light btn-large calipsoFormAustral">
                            <span class="glyphicon glyphicon-plus"></span>
                            Guardar
                        </button>
                        <hr/>
                        <a id="eliminar" href="#" class="waves-effect waves-light btn-large red"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>