<template name="itemArea">
    <div id="listado-area" class="boton-listado-area">
        
        <!-- Si no tiene cursos se muestra el guión -->
        {{#if mostrarCursos}}
            <!--<h2><span id="down" class="glyphicon glyphicon-chevron-down"></span></h2>-->
        <!-- Si no, se pregunta si el estilo esta inline o none -->
        {{else}}
            <!--<h2><span id="minus" class="glyphicon glyphicon-minus"></span></h2>-->
        {{/if}}
        
        <!-- Si es un profesor se muestra el link para editar-->
        {{#if isInRole 'admin'}}
            <h5 class="area-de">Categoría</h5>
        <a href="{{pathFor 'edicionArea'}}">
            <h2 class="titulo-area">{{nombreArea}}</h2>
        </a>
        
        {{else}}
        <!-- Si no, solo mostramos el nombre del curso-->
            <h5 class="area-de">Categoría</h5>
            <h2 id="tituloArea" class="titulo-area">{{nombreArea}}</h2>
        {{/if}}
    </div>
        
    <!-- mostramos solo los cursos a los que está inscrito el usuario-->


    <div id="panel-body{{nombreCurso}}" class="panel-body">
        {{> listadoCursos}}
    </div>
</template>