<template name="listadoAreas">
    
    <div class="listadoAreas">

        <!-- Sección descripción -->
		<div id=titulo-tabs class="col s12 white">
            <div id="seccion-tabs" class="row center">

                <div id="" class="container">
                    <h2 id="label-search" class="label_style" tabindex="15">Catálogo de Mis Cursos</h2>
                    <!--<p id="texto-descripcion" class="" tabindex="16"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur augue lectus, porttitor non elit ac, porta hendrerit leo. Ut quam.</p>-->
                </div>

                <div class="container">
                    <ul class="tabs tabs-fixed-width tab-demo">
                        <li class="tab center"><a class="active" href="#test1">Catálogo</a></li>
                    </ul>
                </div>
                
                <!--<h2 id="label-search" class="label_style" tabindex="15">Descripción del Servicio</h2>-->

            </div>
        </div>

        <div class="row grey lighten-3">


            {{#if isInRole 'user'}}
            <div id="test1" class="row">
            
                <div class="container">

                    {{#each areasInscritas}}
                        {{> itemAreaInscrita}}
                    {{/each}}
                    
                </div>

            </div>

            {{else}}
   
            <div id="test1" class="row">
        
                <div class="container">

                    {{#each areas}}
                        {{> itemArea}}
                    {{/each}}

                </div>

            </div>

            {{/if}}

        </div>

    </div>

<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>

</template>
